In [1]:
import pandas as pd
import gzip
import os

In [41]:
user = pd.read_parquet(r'..\datasets\raw\extras\yelp\user-002.parquet')

In [42]:
user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [43]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105597 entries, 0 to 2105596
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 353.4+ MB

In [44]:
user = user.iloc[::,:11]
user.drop(columns = ['funny','cool','elite'],inplace=True)

user.drop_duplicates(inplace=True)

user.rename(columns={'yelping_since': 'creation'}, inplace=True)
user.rename(columns={'average_stars': 'stars'}, inplace=True)

columnas_acomodadas = ['user_id', 'name', 'creation', 'review_count', 'useful', 'fans', 'stars', 'friends']
user = user[columnas_acomodadas]

user

,user_id,name,creation,review_count,useful,fans,stars,friends
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,2007-01-25 16:47:26,585,7217,267,3.91,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA..."
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,2009-01-25 04:35:42,4333,43091,3138,3.74,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A..."
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,2008-07-25 10:41:00,665,2086,52,3.32,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA..."
3,SZDeASXq7o05mMNLshsdIA,Gwen,2005-11-29 04:38:33,224,512,28,4.27,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg..."
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,2007-01-05 19:40:59,79,29,1,3.54,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA..."
...,...,...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,2015-01-06 00:31:31,23,7,0,4.92,None
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,2016-06-14 07:20:52,1,0,0,5.00,None
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,2017-02-04 15:31:58,4,1,0,2.00,None
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2011-01-14 00:29:08,2,0,0,3.00,None
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2020-12-19 02:32:39,2,0,0,5.00,None

In [39]:
revi_yelp = pd.read_parquet(r'..\..\datasets\processed\yelp\reviews_yelp.parquet.gz')
revi_yelp

,review_id,user_id,business_id,sentiment,date
0,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,2,2016-07-25 07:31:06
1,_Ub20uO1MKy4XOVPOdzpqw,lUYboGI6aFbZ0dX27pijpA,gebiRewfieSdtt17PTW6Zg,1,2017-06-28 01:04:59
2,-DjIfoNFAiT5J4kF9hXocQ,SrfDRvGKI8FQq9LCr0dQuQ,gebiRewfieSdtt17PTW6Zg,1,2017-01-14 23:31:35
3,URe-2Zlv7RoY4Ycr9JYVWw,SfMf7DEX7xT82OCcbZFsgQ,gebiRewfieSdtt17PTW6Zg,2,2016-07-14 23:09:38
4,tHP5ihPd_W9OzfkKEWdIwA,aH3AH7V9g60w4pt3LpJ1_Q,gebiRewfieSdtt17PTW6Zg,0,2014-11-30 07:35:54
...,...,...,...,...,...
1138330,HVYhSbKGyj2R39fTDY7sGg,7KBaoiKUhdTvOsRFOMGwZw,VnAJnVpXHOIBdg6qFJBc3g,1,2021-08-19 02:30:16
1138331,CzJMAaOokvASWgVZg8B__w,L-h5y32VWEV60QXuDPW-hg,VnAJnVpXHOIBdg6qFJBc3g,1,2021-09-12 05:20:37
1138332,9_ztYeoSwdz7S9TW8xkDQA,03q-tEfa2aJtKhf00ZZ-hg,VnAJnVpXHOIBdg6qFJBc3g,1,2021-04-25 13:44:37
1138333,jDeNxby0ZI5UMsZzrywedA,NIlmQ38hxTR2w6lNSzJEuQ,VnAJnVpXHOIBdg6qFJBc3g,1,2021-10-06 01:52:41
1138334,rzwxu-a0JjzbGnIimpqBAg,1wx5T2GTopmtdHJZdqvWDQ,VnAJnVpXHOIBdg6qFJBc3g,0,2021-04-02 13:54:12

In [45]:
user_id = revi_yelp['user_id'].tolist()

user_id = set(user_id)

user_id

In [58]:
user = user[user['user_id'].isin(user_id)]

In [59]:
user

,user_id,name,creation,review_count,useful,fans,stars,friends
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,2007-01-25 16:47:26,585,7217,267,3.91,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA..."
3,SZDeASXq7o05mMNLshsdIA,Gwen,2005-11-29 04:38:33,224,512,28,4.27,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg..."
5,q_QQ5kBBwlCcbL1s4NVK3g,Jane,2005-03-14 20:26:35,1221,14953,1357,3.85,"xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg..."
7,E9kcWJdJUHuTKfQurPljwA,Mike,2008-12-11 22:11:56,358,399,23,3.73,"y2GyxJF5VQWohxgw_GR7Jw, 0NRn4eY3JWN0IFqvOSa5gA..."
14,1McG5Rn_UDkmlkZOrsdptg,Teresa,2009-05-26 16:11:11,7,18,1,4.29,"piejMEdRkGB7-1aL4lL5NQ, X0zFOU6iG95-feQKOXkgrA..."
...,...,...,...,...,...,...,...,...
1987869,xzt22UaBjy40CHgCjJ3Fgg,Don,2009-05-19 20:42:33,7,1,0,5.00,None
1987870,_K4X0IBlwDSnClxOrOdxVw,Sarah,2019-02-28 14:10:05,14,3,0,4.07,None
1987874,Pt3u_iZV4Lo--4yfYsBhGg,Jordan,2013-07-13 23:58:30,5,2,0,2.60,None
1987889,Q5SlTMOwyHq4PIu7Ev-GVg,John,2018-01-13 21:55:39,4,0,0,5.00,None
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2020-12-19 02:32:39,2,0,0,5.00,None

In [60]:
user.to_parquet(r'..\..\datasets\processed\yelp\info_user_yelp.parquet')

# Ruta del archivo CSV que quieres comprimir con gzip
input_file = r'..\..\datasets\processed\yelp\info_user_yelp.parquet'

# Ruta de salida para el archivo comprimido con gzip
output_file = r'..\..\datasets\processed\yelp\info_user_yelp.parquet.gz'

# Comprimir el archivo CSV usando gzip
with open(input_file, 'rb') as f_in:
    with gzip.open(output_file, 'wb') as f_out:
        f_out.writelines(f_in)

# Eliminar el archivo json original si se desea
os.remove(input_file)