# Usuarios yelp

In [2]:
import pandas as pd

In [3]:
user = pd.read_parquet(r'../extras/Datasets/Yelp/user.parquet')
user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [4]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105597 entries, 0 to 2105596
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 353.4+ MB

In [5]:
# Dropeamos las columnas que no son necesarias
user.drop(columns = ['funny','cool','elite'],inplace=True)

# Eliminamos duplicados
user.drop_duplicates(inplace=True)

# Renombramos columnas
user.rename(columns={'yelping_since': 'creation'}, inplace=True)
user.rename(columns={'average_stars': 'stars'}, inplace=True)

# Acomodamos las columnas
columnas_acomodadas = ['user_id', 'name', 'creation', 'review_count', 'useful', 'fans', 'stars', 'friends']
user = user[columnas_acomodadas]

user

,user_id,name,creation,review_count,useful,fans,stars,friends
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,2007-01-25 16:47:26,585,7217,267,3.91,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA..."
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,2009-01-25 04:35:42,4333,43091,3138,3.74,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A..."
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,2008-07-25 10:41:00,665,2086,52,3.32,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA..."
3,SZDeASXq7o05mMNLshsdIA,Gwen,2005-11-29 04:38:33,224,512,28,4.27,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg..."
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,2007-01-05 19:40:59,79,29,1,3.54,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA..."
...,...,...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,2015-01-06 00:31:31,23,7,0,4.92,None
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,2016-06-14 07:20:52,1,0,0,5.00,None
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,2017-02-04 15:31:58,4,1,0,2.00,None
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2011-01-14 00:29:08,2,0,0,3.00,None
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2020-12-19 02:32:39,2,0,0,5.00,None

In [9]:
reviews_yelp = pd.read_parquet(r'../datasets/processed/yelp/reviews_yelp.parquet.gz')
reviews_yelp

,review_id,user_id,business_id,stars,sentiment,date
0,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3.0,2,2016-07-25 07:31:06
1,qRhOkdYNO1URgn1WJfK1cg,59MxRhNVhU9MYndMkz0wtw,W7gSJz80DywKnPRIGjA2Bw,5.0,2,2016-07-25 07:20:23
2,ZZbpYMY4s8sVQGEU1jAuVA,59MxRhNVhU9MYndMkz0wtw,l_slvEnh4v3W8BXF1gYlcQ,5.0,2,2016-07-23 00:13:36
3,_Ub20uO1MKy4XOVPOdzpqw,lUYboGI6aFbZ0dX27pijpA,gebiRewfieSdtt17PTW6Zg,1.0,1,2017-06-28 01:04:59
4,-DjIfoNFAiT5J4kF9hXocQ,SrfDRvGKI8FQq9LCr0dQuQ,gebiRewfieSdtt17PTW6Zg,3.0,1,2017-01-14 23:31:35
...,...,...,...,...,...,...
909981,HVYhSbKGyj2R39fTDY7sGg,7KBaoiKUhdTvOsRFOMGwZw,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-08-19 02:30:16
909982,CzJMAaOokvASWgVZg8B__w,L-h5y32VWEV60QXuDPW-hg,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-09-12 05:20:37
909983,9_ztYeoSwdz7S9TW8xkDQA,03q-tEfa2aJtKhf00ZZ-hg,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-04-25 13:44:37
909984,jDeNxby0ZI5UMsZzrywedA,NIlmQ38hxTR2w6lNSzJEuQ,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-10-06 01:52:41
909985,rzwxu-a0JjzbGnIimpqBAg,1wx5T2GTopmtdHJZdqvWDQ,VnAJnVpXHOIBdg6qFJBc3g,4.0,0,2021-04-02 13:54:12

In [10]:
pd.merge(reviews_yelp, user[['user_id']], on='user_id')

,review_id,user_id,business_id,stars,sentiment,date
0,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3.0,2,2016-07-25 07:31:06
1,qRhOkdYNO1URgn1WJfK1cg,59MxRhNVhU9MYndMkz0wtw,W7gSJz80DywKnPRIGjA2Bw,5.0,2,2016-07-25 07:20:23
2,ZZbpYMY4s8sVQGEU1jAuVA,59MxRhNVhU9MYndMkz0wtw,l_slvEnh4v3W8BXF1gYlcQ,5.0,2,2016-07-23 00:13:36
3,_Ub20uO1MKy4XOVPOdzpqw,lUYboGI6aFbZ0dX27pijpA,gebiRewfieSdtt17PTW6Zg,1.0,1,2017-06-28 01:04:59
4,-DjIfoNFAiT5J4kF9hXocQ,SrfDRvGKI8FQq9LCr0dQuQ,gebiRewfieSdtt17PTW6Zg,3.0,1,2017-01-14 23:31:35
...,...,...,...,...,...,...
909981,HVYhSbKGyj2R39fTDY7sGg,7KBaoiKUhdTvOsRFOMGwZw,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-08-19 02:30:16
909982,CzJMAaOokvASWgVZg8B__w,L-h5y32VWEV60QXuDPW-hg,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-09-12 05:20:37
909983,9_ztYeoSwdz7S9TW8xkDQA,03q-tEfa2aJtKhf00ZZ-hg,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-04-25 13:44:37
909984,jDeNxby0ZI5UMsZzrywedA,NIlmQ38hxTR2w6lNSzJEuQ,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-10-06 01:52:41
909985,rzwxu-a0JjzbGnIimpqBAg,1wx5T2GTopmtdHJZdqvWDQ,VnAJnVpXHOIBdg6qFJBc3g,4.0,0,2021-04-02 13:54:12