In [10]:
import pandas as pd
import gzip
import os
from geopy.geocoders import Nominatim
from geopy.point import Point
import geopandas as gpd
from shapely.geometry import Point

<h1><center>Bussiness Yelp</center></h1>

<h1><center>Lectura de informacion</center></h1>

In [34]:
bussiness_yelp = pd.read_pickle(r'..\extras\Datasets\Yelp\business.pkl')

In [35]:
bussiness_yelp.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
bussiness_yelp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
 14  business_id   5 non-null       object
 15  name          5 non-null       object
 16  address       5 non-null       object
 17  city          5 non-null       object
 18  state         5 non-null       object
 19  postal_code   5 non-null       object
 20  latitude      5 non-null       object
 21  longitude     5 non-null       object
 22  stars         5 non-null       object
 23  review_count  5 non-null       object
 24  is_open       5 non-null       object
 25  attributes    5 non-null       object
 26  categories    5 non-null       object
 27  hours         5 non-null       object
dtypes: object(28)
memory usage: 33.3+ MB

In [37]:
# Eliminamos los duplicados de las columnas
bussiness_yelp = bussiness_yelp.iloc[::,:14].copy()

In [38]:
bussiness_yelp.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

## Columnas eliminadas:

- addres

- city

- state

- postal_code

- review_count

- is_open

- attributes

- hours

In [39]:
bussiness_yelp_filtrado = bussiness_yelp[['business_id', 'name', 'latitude', 'longitude', 'stars', 'categories']]
bussiness_yelp_filtrado

,business_id,name,latitude,longitude,stars,categories
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ",34.426679,-119.711197,5.0,"Doctors, Traditional Chinese Medicine, Naturop..."
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,38.551126,-90.335695,3.0,"Shipping Centers, Local Services, Notaries, Ma..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,32.223236,-110.880452,3.5,"Department Stores, Shopping, Fashion, Home & G..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,39.955505,-75.155564,4.0,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,40.338183,-75.471659,4.5,"Brewpubs, Breweries, Food"
...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,53.468419,-113.492054,3.0,"Nail Salons, Beauty & Spas"
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,36.115118,-86.766925,4.0,"Pets, Nurseries & Gardening, Pet Stores, Hobby..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,39.908707,-86.065088,3.5,"Shopping, Jewelry, Piercing, Toy Stores, Beaut..."
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,38.782351,-89.950558,4.0,"Fitness/Exercise Equipment, Eyewear & Optician..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,27.771002,-82.39491,4.5,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo"

### Filtramos por el criterio de estados seleccionados (Florida - California - Illianois - Nueva Jersey)

In [ ]:
florida = gpd.read_file(r'..\datasets\raw\FL.geo.json')
# Crear un GeoDataFrame a partir del DataFrame existente
geometry = [Point(xy) for xy in zip(bussiness_yelp_filtrado['longitude'], bussiness_yelp_filtrado['latitude'])]
meta_datos_google = gpd.GeoDataFrame(bussiness_yelp_filtrado, geometry=geometry)
# Realizar la uniÃ³n espacial
empresas_en_florida = gpd.sjoin(meta_datos_google, florida, op='within')

In [ ]:
california = gpd.read_file(r'..\datasets\raw\CA.geo.json')
# Crear un GeoDataFrame a partir del DataFrame existente
geometry = [Point(xy) for xy in zip(bussiness_yelp_filtrado['longitude'], bussiness_yelp_filtrado['latitude'])]
meta_datos_google = gpd.GeoDataFrame(bussiness_yelp_filtrado, geometry=geometry)
# Realizar la uniÃ³n espacial
empresas_en_california = gpd.sjoin(meta_datos_google, california, op='within')

In [ ]:
illinois = gpd.read_file(r'..\datasets\raw\IL.geo.json')
# Crear un GeoDataFrame a partir del DataFrame existente
geometry = [Point(xy) for xy in zip(bussiness_yelp_filtrado['longitude'], bussiness_yelp_filtrado['latitude'])]
meta_datos_google = gpd.GeoDataFrame(bussiness_yelp_filtrado, geometry=geometry)
# Realizar la uniÃ³n espacial
empresas_en_illinois = gpd.sjoin(meta_datos_google, illinois, op='within')

In [ ]:
Nuevajersey = gpd.read_file(r'..\datasets\raw\NJ.geo.json')
# Crear un GeoDataFrame a partir del DataFrame existente
geometry = [Point(xy) for xy in zip(bussiness_yelp_filtrado['longitude'], bussiness_yelp_filtrado['latitude'])]
meta_datos_google = gpd.GeoDataFrame(bussiness_yelp_filtrado, geometry=geometry)
# Realizar la uniÃ³n espacial
empresas_en_Nuevajersey = gpd.sjoin(meta_datos_google, Nuevajersey, op='within')

In [44]:
print(len(empresas_en_florida) + len(empresas_en_california) + len(empresas_en_illinois) + len(empresas_en_Nuevajersey))

41328

In [45]:
# Lista de DataFrames a concatenar
dataframes = [empresas_en_florida, empresas_en_california, empresas_en_illinois, empresas_en_Nuevajersey]

# Concatenar los DataFrames verticalmente
empresas_concatenadas = pd.concat(dataframes, ignore_index=True)

In [46]:
# Visualizar las columnas del dataframe
empresas_concatenadas.columns

Index(['business_id', 'name_left', 'latitude', 'longitude', 'stars',
       'categories', 'geometry', 'index_right', 'id', 'fips', 'name_right'],
      dtype='object')

In [47]:
# Lista de nombres de columnas a eliminar
columnas_a_eliminar = ['geometry', 'index_right', 'id', 'fips']

# Eliminar las columnas de empresas_concatenadas
empresas_concatenadas = empresas_concatenadas.drop(columns=columnas_a_eliminar)

# Renombro las columnas que considero pertinentes
empresas_concatenadas.rename(columns={'name_right': 'Estado_Perteneciente'}, inplace=True)
empresas_concatenadas.rename(columns={'name_left': 'name'}, inplace=True)

empresas_concatenadas.head()

,business_id,name,latitude,longitude,stars,categories,Estado_Perteneciente
0,qkRM_2X51Yqxk3btlwAQIg,Temple Beth-El,27.76659,-82.732983,3.5,"Synagogues, Religious Organizations",Florida
1,UJsufbvfyfONHeWdvAHKjA,Marshalls,28.190459,-82.45738,3.5,"Department Stores, Shopping, Fashion",Florida
2,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,27.955269,-82.45632,4.0,"Vietnamese, Food, Restaurants, Food Trucks",Florida
3,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,27.966235,-82.787412,5.0,"General Dentistry, Dentists, Health & Medical,...",Florida
4,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,27.916116,-82.760461,4.5,"Food, Delis, Italian, Bakeries, Restaurants",Florida

### Filtramos segÃºn rubro (Restaurants)

In [48]:
# Eliminamos los valores nulos para evitar errores a largo plazo
empresas_concatenadas.dropna(inplace=True)

# Creo listas para utilizar en las siguientes iteraciones
categorias = []
filtro_cat = []
restaurant_cat = []

# Itero por la columna categories del dataframe, para extraer todos sus valores y convertirlos en listas, los que luego agrego a la lista categorias
for x in empresas_concatenadas['categories']:
    alm = x.split(",")
    categorias.extend(alm)

# Realizo una limpieza de cada lista dentro de la lista categorias
for i in categorias:
    if len(i.strip()) > 3:
        filtro_cat.append(i.strip())

# Itero sobre cada fila de la columna categories, con la finalidad de filtrar todos los comercios que corresponden a restaurantes
for x in filtro_cat:
    if 'estau' in x.lower():  # Convertimos a minÃºsculas para hacer la bÃºsqueda insensible a mayÃºsculas/minÃºsculas
        restaurant_cat.append(x)

# Con esta conversion elimino los valores repetidos de toda mi lista
restaurant_cat = set(restaurant_cat)

# Creo un filtro con el cual selecciono las columnas coincidentes
filtro = empresas_concatenadas['categories'].str.contains('|'.join(restaurant_cat))

# Exporto el dataframe con su nueva mascara para crear uno nuevo con los datos esperados
empresas_concatenadas_restaurantes_estados_yelp = empresas_concatenadas[filtro]

# Prueba de visualizacion
empresas_concatenadas_restaurantes_estados_yelp

,business_id,name,latitude,longitude,stars,categories,Estado_Perteneciente
2,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,27.955269,-82.45632,4.0,"Vietnamese, Food, Restaurants, Food Trucks",Florida
4,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,27.916116,-82.760461,4.5,"Food, Delis, Italian, Bakeries, Restaurants",Florida
7,uI9XODGY_2_ieTE6xJ0myw,Roman Forum,28.046203,-82.505053,4.0,"Restaurants, American (New), Italian",Florida
8,JgpnXv_0XhV3SfbfB50nxw,Joe's Pizza,27.960514,-82.506127,4.0,"Restaurants, Pizza",Florida
12,pJfh3Ct8iL58NZa8ta-a5w,Top Shelf Sports Lounge,28.196252,-82.380615,4.5,"Burgers, Sports Bars, Bars, Lounges, Restauran...",Florida
...,...,...,...,...,...,...,...
41313,qjtELTt9fdIwoi_xGNN21g,Chipotle Mexican Grill,39.943481,-74.964743,3.0,"Restaurants, Mexican, Fast Food",New Jersey
41316,BzPTw9daJW8ToqTc7QiHFw,Taco Bell,40.210771,-74.756588,2.5,"Restaurants, Tex-Mex, Fast Food, Mexican, Taco...",New Jersey
41319,oNos27QR8hkBb4z-IK6uTA,Cafe Tango,39.847724,-74.977354,2.5,"Indian, Restaurants, Tapas/Small Plates",New Jersey
41320,UBQAksw81m0sMrAd8g-ECg,El Zarape Restaurant,39.718717,-74.971143,4.0,"Restaurants, Mexican",New Jersey
41321,FBTKjIHyMk8V4frov04ClQ,Ultimate Grill & Pizza,40.250691,-74.778497,3.0,"Restaurants, Pizza, Mexican",New Jersey

Normalizamos los valores de categorias en formato lista.

In [ ]:
empresas_concatenadas_restaurantes_estados_yelp['categories'] = empresas_concatenadas_restaurantes_estados_yelp['categories'].apply(lambda x: x.replace(", ", ",").split(','))

#Normalizamos los nombres de las columnas y actualizo index
empresas_concatenadas_restaurantes_estados_yelp.columns = ['business_id', 'name', 'latitude', 'longitude', 'stars', 'categories', 'state']
empresas_concatenadas_restaurantes_estados_yelp.reset_index(drop=True, inplace=True)

### Filtramos segÃºn criterio de reviews (2015 - 2022)

In [50]:
reviews = pd.read_parquet('../datasets/processed/yelp/reviews_yelp.parquet.gz')

In [ ]:
empresas_concatenadas_restaurantes_estados_yelp.drop(columns='stars', inplace=True)

In [52]:
reviews = reviews[['business_id','stars']]
reviews = reviews.groupby('business_id').mean().round(2).reset_index()

In [53]:
# Analisamos si todos los negocios tienen reviews
f'Negocios: {len(empresas_concatenadas_restaurantes_estados_yelp)}, Reviews:{len(reviews)}.'

'Negocios: 13919, Reviews:12917.'

#### Nos quedamos con los negocios que tienen reviews

In [54]:
empresas_concatenadas_restaurantes_estados_yelp = empresas_concatenadas_restaurantes_estados_yelp.merge(reviews, on='business_id')
empresas_concatenadas_restaurantes_estados_yelp = empresas_concatenadas_restaurantes_estados_yelp[['business_id', 'name', 'latitude', 'longitude', 'stars', 'categories', 'state']]

empresas_concatenadas_restaurantes_estados_yelp

,business_id,name,latitude,longitude,stars,categories,state
0,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,27.955269,-82.45632,4.09,"[Vietnamese, Food, Restaurants, Food Trucks]",Florida
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,27.916116,-82.760461,4.45,"[Food, Delis, Italian, Bakeries, Restaurants]",Florida
2,uI9XODGY_2_ieTE6xJ0myw,Roman Forum,28.046203,-82.505053,4.00,"[Restaurants, American (New), Italian]",Florida
3,JgpnXv_0XhV3SfbfB50nxw,Joe's Pizza,27.960514,-82.506127,4.17,"[Restaurants, Pizza]",Florida
4,pJfh3Ct8iL58NZa8ta-a5w,Top Shelf Sports Lounge,28.196252,-82.380615,4.51,"[Burgers, Sports Bars, Bars, Lounges, Restaura...",Florida
...,...,...,...,...,...,...,...
12912,Df-DdXqssj7ZeD8ypAF7Og,Crux Cafe,39.894469,-75.071001,4.00,"[Cafes, Restaurants]",New Jersey
12913,qjtELTt9fdIwoi_xGNN21g,Chipotle Mexican Grill,39.943481,-74.964743,2.43,"[Restaurants, Mexican, Fast Food]",New Jersey
12914,BzPTw9daJW8ToqTc7QiHFw,Taco Bell,40.210771,-74.756588,2.67,"[Restaurants, Tex-Mex, Fast Food, Mexican, Tac...",New Jersey
12915,UBQAksw81m0sMrAd8g-ECg,El Zarape Restaurant,39.718717,-74.971143,4.00,"[Restaurants, Mexican]",New Jersey
12916,FBTKjIHyMk8V4frov04ClQ,Ultimate Grill & Pizza,40.250691,-74.778497,2.82,"[Restaurants, Pizza, Mexican]",New Jersey

### Exportamos

In [55]:
empresas_concatenadas_restaurantes_estados_yelp.to_parquet(r'..\datasets\processed\yelp\business_yelp.parquet.gz', compression='gzip')

---

<h1><center>Fin de ETL correspondiente a Bussines Yelp</center</h1>

---