In [2]:
import pandas as pd
import glob
import os
from datetime import datetime

# review-Alabama

In [6]:
# Obtén la lista de archivos JSON
json_files = glob.glob('..\\Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Alabama\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.140438e+20,Kanisha Mixon,1597168272670,5,Very Personable staff! Beautiful and clean env...,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
1,1.160090e+20,Brandie Hodges,1609899039594,5,Best clothing intown,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
2,1.062399e+20,Sharon King,1547235290843,4,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
3,1.049701e+20,Veronica Pierce,1517709403534,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
4,1.105875e+20,Whitney Waldon Collier,1535245718492,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf

# review-Alaska

In [29]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Alaska\\*.json')

# Crea una lista vacía para almacenar los dataframes
df_list = []

# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.091298e+20,Nicki Gore,1566331951619,5,We always stay here when in Valdez for silver ...,None,None,0x56b646ed2220b77f:0xd8975e316de80952
1,1.132409e+20,Allen Ratliff,1504917982385,5,Great campground for the price. Nice hot unlim...,None,None,0x56b646ed2220b77f:0xd8975e316de80952
2,1.130448e+20,Jonathan Tringali,1474765901185,4,We tent camped here for 2 nights while explori...,None,None,0x56b646ed2220b77f:0xd8975e316de80952
3,1.103292e+20,S Blad,1472858535682,4,"This place is just a few miles outside Valdez,...",None,None,0x56b646ed2220b77f:0xd8975e316de80952
4,1.089896e+20,Daniel Formoso,1529649811341,5,Probably the nicest and cleanest campground we...,None,None,0x56b646ed2220b77f:0xd8975e316de80952

# review-Arizona

In [30]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Arizona\\*.json')

# Crea una lista vacía para almacenar los dataframes
df_list = []

# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.183560e+20,Vicki Ullery,1628718071358,5,Gwen was so informative and made me feel comfo...,None,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
1,1.126523e+20,Doc Kovacs,1609796129431,5,Dr. Huyhn is an ethical skilled dentist. Her s...,None,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
2,1.089879e+20,Pedro Diaz,1594225668169,1,Not sure if one star is fair but my situation ...,None,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
3,1.069277e+20,Brandon Ray,1622676189509,5,Best dentist office I've ever had. Love everyt...,None,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
4,1.090535e+20,T. Bennett,1434829263041,5,I've been coming to Oasis dentistry for a whil...,None,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821

# review-Arkansas

In [31]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Arkansas\\*.json')

# Crea una lista vacía para almacenar los dataframes
df_list = []

# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.083175e+20,cayla layman,1630760310327,5,Making West Memphis proud! Love this spot for ...,[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1631039710340, 'text': 'Thank you ver...",0x87d57755954b200d:0x157d3f3bad3d37a4
1,1.021233e+20,thomas mcdaniel,1631038071292,1,Small burrito period high price. U dont get yo...,None,"{'time': 1631039604586, 'text': 'Sorry for you...",0x87d57755954b200d:0x157d3f3bad3d37a4
2,1.040671e+20,tony shelby,1627697592294,5,I love the food and the staff are very friendly,None,"{'time': 1627707384428, 'text': 'Thank you. Pl...",0x87d57755954b200d:0x157d3f3bad3d37a4
3,1.071093e+20,james williamson,1624394171528,3,It was a New Restaurant and I never had there ...,None,"{'time': 1624395299305, 'text': 'Hi Mr. Willia...",0x87d57755954b200d:0x157d3f3bad3d37a4
4,1.146117e+20,Robert Hardin,1630615588505,5,Great food and service,None,"{'time': 1630668653435, 'text': 'Thank you for...",0x87d57755954b200d:0x157d3f3bad3d37a4

# review-California

In [35]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-California\\*.json')

# Crea una lista vacía para almacenar los dataframes
df_list = []

# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.089912e+20,Song Ro,1609909927056,5,Love there korean rice cake.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
1,1.112903e+20,Rafa Robles,1612849648663,5,Good very good,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
2,1.126404e+20,David Han,1583643882296,4,They make Korean traditional food very properly.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
3,1.174403e+20,Anthony Kim,1551938216355,5,Short ribs are very delicious.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
4,1.005808e+20,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49

# review-Colorado

In [36]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Colorado\\*.json')

# Crea una lista vacía para almacenar los dataframes
df_list = []

# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.089905e+20,mgshouldice,1484353876202,3,Don't mix this up with their high school. It w...,None,None,0x876c75945568003d:0x2fae418af6d1e13a
1,1.074040e+20,Sabrina Holsinger,1484195642287,4,Teachers are great and you can tell the genual...,None,None,0x876c75945568003d:0x2fae418af6d1e13a
2,1.128198e+20,Tad Amore,1459554530689,5,Great school can't wait for my son to start ne...,None,None,0x876c75945568003d:0x2fae418af6d1e13a
3,1.025918e+20,Victoria Elizabeth De La Torre,1483746469128,1,None,None,None,0x876c75945568003d:0x2fae418af6d1e13a
4,1.040089e+20,Luis Garcia-Lopez,1542782383361,5,None,None,None,0x876c75945568003d:0x2fae418af6d1e13a

# review-Connecticut

In [37]:

# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Connecticut\\*.json')

# Crea una lista vacía para almacenar los dataframes
df_list = []

# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.140765e+20,Jeff Mccomish,1612059976820,5,Great friendly independent packie,None,None,0x89e64b04d274c9d9:0x84d833dcc10ae21d
1,1.015203e+20,Outlaw PiRu,1544752859553,5,Great Atmosphere and Great Service. Fantastic ...,None,None,0x89e64b04d274c9d9:0x84d833dcc10ae21d
2,1.118002e+20,Hector Acevedo,1564367962353,5,Nice neighborhood store with great sandwiches ...,None,None,0x89e64b04d274c9d9:0x84d833dcc10ae21d
3,1.122618e+20,Leah Williams,1610758109050,5,Just trying,None,None,0x89e64b04d274c9d9:0x84d833dcc10ae21d
4,1.089888e+20,Nick “Big Nick”,1570061475449,5,Love it!,None,None,0x89e64b04d274c9d9:0x84d833dcc10ae21d

# review-Delaware

In [38]:
# Obtén la lista de archivos JSON

json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Delaware\\*.json')

# Crea una lista vacía para almacenar los dataframes
df_list = []

# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.137980e+20,Heather Carper,1507258129698,5,Lived here for 3 years and enjoyed it. Locatio...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89b8b77c34771c5f:0xf768433b3a39763
1,1.089116e+20,STACY CLAVETTE,1544802238870,5,Nice complex and awesome staff. Maintenance i...,None,None,0x89b8b77c34771c5f:0xf768433b3a39763
2,1.101471e+20,Zion Hood,1559123933643,5,Good places for people to live my friend lives...,None,None,0x89b8b77c34771c5f:0xf768433b3a39763
3,1.147143e+20,Diane Clark,1600736020990,5,great layout.,None,None,0x89b8b77c34771c5f:0xf768433b3a39763
4,1.089864e+20,Eddie S,1554953350224,4,"Positives: Elevator, dog park and maintenance....",None,None,0x89b8b77c34771c5f:0xf768433b3a39763

# review-District_of_Columbia

In [39]:
# Obtén la lista de archivos JSON

json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-District_of_Columbia\\*.json')

# Crea una lista vacía para almacenar los dataframes
df_list = []

# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.042564e+20,Petre Ene,1551027526726,4,"the food is really good, I had a great experie...",[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89b7b7851b06ef6b:0x5f356b1eb1da27
1,1.086426e+20,Keshava Mysore,1510920735052,4,High prices for not so big portions! But I thi...,None,None,0x89b7b7851b06ef6b:0x5f356b1eb1da27
2,1.118429e+20,Carol G,1543249586598,2,"The gelato looked ""old"" and ended up having co...",None,None,0x89b7b7851b06ef6b:0x5f356b1eb1da27
3,1.102994e+20,翟泉,1496597796978,4,(Translated by Google) The fast food restauran...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89b7b7851b06ef6b:0x5f356b1eb1da27
4,1.164480e+20,Kitae Yim,1540701399450,1,(Translated by Google) The food is barely edib...,None,None,0x89b7b7851b06ef6b:0x5f356b1eb1da27

# review-Florida

In [40]:
# Obtén la lista de archivos JSON

json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Florida\\*.json')

# Crea una lista vacía para almacenar los dataframes
df_list = []

# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.014719e+20,Julie A. Gerber,1628003250740,1,Update: Their “reply” to my review amounted to...,None,"{'time': 1627042799532, 'text': 'Thank you for...",0x8893863ea87bd5dd:0x9383ebf973e74abb
1,1.154772e+20,Martin Sheffield,1595031217005,5,He's a knowledgeable doctor but the way he run...,None,"{'time': 1582464056733, 'text': 'Thank you for...",0x8893863ea87bd5dd:0x9383ebf973e74abb
2,1.018050e+20,Brian Truett,1522924253567,5,"Best doctor I've ever had, I never wait to be ...",None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb
3,1.063444e+20,Tina Sun,1467907819586,1,I was told he is a good doctor. I was trying t...,None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb
4,1.008751e+20,James Haynes,1480683415081,5,Takes the time to actually get to know his pat...,None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb

# review-Georgia

In [42]:
# Obtén la lista de archivos JSON

json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Georgia\\*.json')

# Crea una lista vacía para almacenar los dataframes
df_list = []

# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.042277e+20,Brent Powell,1599604812269,5,Great hometown folk. Rob takes good care of al...,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
1,1.055723e+20,Evan Thomas,1502078169146,5,Very friendly hometown pharmarcy. Always helpf...,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
2,1.039554e+20,Caleb Howell,1502571430852,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
3,1.069746e+20,ashlee crawford,1494161075405,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
4,1.048457e+20,T Paulk,1495139229501,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8

# review-Hawaii

In [43]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Hawaii\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.139654e+20,manuel grimaldo,1591839903487,5,Great new upgrade,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
1,1.166558e+20,Enrique Lara,1568059018979,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
2,1.008341e+20,Gregory Donaldson,1594885588335,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
3,1.032072e+20,Brian Baker,1575951131613,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
4,1.085262e+20,Kam J,1573076723916,3,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e

# review-Idaho

In [44]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Idaho\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.078421e+20,Jason Johnson,1499810222323,3,"Nice place, but not enough dog friendly areas ...",[{'url': ['https://lh5.googleusercontent.com/p...,None,0x54af0dfadab474e1:0x3ae5c949132941d8
1,1.035121e+20,Michael Harry,1478021694645,5,"Pheasant, ducks, geese, white tailed deer.\nSm...",None,None,0x54af0dfadab474e1:0x3ae5c949132941d8
2,1.102976e+20,Jolene Vaughn,1533847989090,3,"We took some horses up to ride, but there real...",None,None,0x54af0dfadab474e1:0x3ae5c949132941d8
3,1.150576e+20,Ben Voris,1563297497573,3,Crowded during pheasant season. If you’re not ...,None,None,0x54af0dfadab474e1:0x3ae5c949132941d8
4,1.049081e+20,Sunshine Window Cleaning Inc. Greg Reid,1543076221896,4,Beautiful spot for a hike or some hunting. Be ...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x54af0dfadab474e1:0x3ae5c949132941d8

# review-Illinois

In [45]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Illinois\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.094426e+20,Jim LeBurkien,1571842572977,5,Great selection of used and collectible toys. ...,None,None,0x880f0f1b32155555:0x8347e0c971acb955
1,1.009245e+20,Steve Muscat,1561679275695,5,Great visit as usual. 👍😊,None,None,0x880f0f1b32155555:0x8347e0c971acb955
2,1.008140e+20,Fletcher Oliver,1572719516502,5,None,None,None,0x880f0f1b32155555:0x8347e0c971acb955
3,1.101685e+20,Daniel Chavez,1572641473424,5,None,None,None,0x880f0f1b32155555:0x8347e0c971acb955
4,1.089906e+20,David Ferdinand,1561483351910,4,None,None,None,0x880f0f1b32155555:0x8347e0c971acb955

# review-Indiana

In [46]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Indiana\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.114237e+20,Larry Sandefur,1615400502414,5,Majestic security was the best job I ever had ...,None,"{'time': 1627580537714, 'text': 'Thanks for th...",0x8816c4b2fb8fb6a1:0x80451636e10ca83f
1,1.135966e+20,John Soard,1597280425295,5,I have used this company for a number of years...,None,"{'time': 1606930574545, 'text': 'Thanks John, ...",0x8816c4b2fb8fb6a1:0x80451636e10ca83f
2,1.008217e+20,Michael Johnson,1596678908723,5,"I am an employee with Majestic Security, and h...",None,"{'time': 1606930806337, 'text': 'Thanks Mike f...",0x8816c4b2fb8fb6a1:0x80451636e10ca83f
3,1.060630e+20,Lauren Moretz,1606588867988,1,My husband has worked for this company for a f...,None,"{'time': 1606930153562, 'text': 'in 33 years, ...",0x8816c4b2fb8fb6a1:0x80451636e10ca83f
4,1.072273e+20,Tracy Workman,1606677082659,5,I'm 55 and have been here with Magestic over 6...,None,"{'time': 1606930223376, 'text': 'Thank You Tra...",0x8816c4b2fb8fb6a1:0x80451636e10ca83f

# review-Iowa

In [48]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Iowa\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.154997e+20,Nicole Williams,1528935574441,5,I have found my new favorite nail shop. I love...,None,"{'time': 1528950923185, 'text': 'Thanks'}",0x87ec238afdd8837b:0x2f43f2b12142bff5
1,1.100727e+20,Dmitriy N,1575832576112,5,This place is awesome. Got my pedicure there a...,None,"{'time': 1576094549338, 'text': 'Thanks , Dmit...",0x87ec238afdd8837b:0x2f43f2b12142bff5
2,1.170215e+20,Sue Dickman,1465139905809,5,I love going to Polished Nails. Everyone is pr...,None,None,0x87ec238afdd8837b:0x2f43f2b12142bff5
3,1.090032e+20,Ashley Nguyen,1565271263810,5,Nice place to get a complete set.,None,"{'time': 1565752414209, 'text': 'Thanks'}",0x87ec238afdd8837b:0x2f43f2b12142bff5
4,1.132786e+20,Candy Hester,1450564402784,5,Great manicure from someone who really cares f...,None,None,0x87ec238afdd8837b:0x2f43f2b12142bff5

# review-Kansas

In [49]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Kansas\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.101749e+20,Hannah Johnston,1603469475914,4,Really cute store. All the staff are lovely. T...,None,None,0x87bf03987b89d0c3:0x9b3d137e7bfc045a
1,1.094691e+20,Flint Blankenship,1628280826510,4,Well...... The place is a 5-Star..... BUT..,None,None,0x87bf03987b89d0c3:0x9b3d137e7bfc045a
2,1.011328e+20,Sheryl Fields,1511648800146,2,Normally we really like stopping in and shoppi...,None,"{'time': 1511695775965, 'text': 'So sorry to d...",0x87bf03987b89d0c3:0x9b3d137e7bfc045a
3,1.145734e+20,Robert Gragg,1572660533736,4,Nice selection of antiques collectables and ho...,None,"{'time': 1572693100906, 'text': 'Thank you for...",0x87bf03987b89d0c3:0x9b3d137e7bfc045a
4,1.172689e+20,Jan Swan,1603471293093,4,Nice stuff,None,None,0x87bf03987b89d0c3:0x9b3d137e7bfc045a

# review-Kentucky

In [50]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Kentucky\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.176319e+20,Fatcat Paulanne,1612545195499,5,Very professional. Returned phone calls promp...,None,None,0x886851e247062e25:0xd455b2d55eda354a
1,1.089865e+20,Scott Vatter,1531435973696,4,Very helpful,None,None,0x886851e247062e25:0xd455b2d55eda354a
2,1.087629e+20,Cait Lewis,1505925988144,2,None,None,None,0x886851e247062e25:0xd455b2d55eda354a
3,1.045360e+20,Kristen Casey,1558918298929,5,None,None,None,0x886851e247062e25:0xd455b2d55eda354a
4,1.089805e+20,Cheryl Basil,1507352415093,5,None,None,None,0x886851e247062e25:0xd455b2d55eda354a

# review-Louisiana

In [51]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Louisiana\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.101177e+20,Taria Jackson,1583803141563,5,"Reasonably priced, process was easy and fast! ...",None,"{'time': 1583842250926, 'text': 'Taria , thank...",0x86312d61f5ac28b5:0x5e6c55690b65096a
1,1.044371e+20,Jodi Kociaba,1603610106892,5,"Was quick, easy and fun to use the key kiosk.",None,"{'time': 1603631822084, 'text': 'Hello Steve, ...",0x86312d61f5ac28b5:0x5e6c55690b65096a
2,1.089910e+20,Beejal S.,1527773942699,5,"Easy to use, fairly fast. $3.49 for copy of b...",None,None,0x86312d61f5ac28b5:0x5e6c55690b65096a
3,1.075095e+20,Lovely 2021,1578657721674,5,None,None,"{'time': 1578949813503, 'text': 'Hi Lovely, th...",0x86312d61f5ac28b5:0x5e6c55690b65096a
4,1.144982e+20,Technician Ash Mohd,1580787625014,5,None,None,"{'time': 1580821552374, 'text': 'Ashraf , tha...",0x86312d61f5ac28b5:0x5e6c55690b65096a

# review-Maine

In [52]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Maine\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.134399e+20,Steve Holland,1528823744253,4,My friend and I played here today. played all ...,None,None,0x4cb27993a61ab3e1:0xa6c6508fe8842ff0
1,1.074215e+20,Matthew Hall,1500129522343,2,It literally pains me to give such a low revie...,None,None,0x4cb27993a61ab3e1:0xa6c6508fe8842ff0
2,1.038352e+20,Laura Oliver,1534025979137,1,DO NOT GO HERE!!! Seriously!! This was the mos...,None,None,0x4cb27993a61ab3e1:0xa6c6508fe8842ff0
3,1.134932e+20,Phil Rose,1495584198169,2,Not sure what happened but it's not what it us...,None,None,0x4cb27993a61ab3e1:0xa6c6508fe8842ff0
4,1.089903e+20,Sam I Am,1436912786006,4,Very nice course it's awesome that 27 holes al...,None,None,0x4cb27993a61ab3e1:0xa6c6508fe8842ff0

# review-Maryland

In [53]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Maryland\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.162101e+20,Brian A,1528719383671,5,Every time I have been to this place I am in a...,None,None,0x89b7a76096bdad0b:0x66e4be0af3dc1720
1,1.089905e+20,Marsha J,1556106162554,5,"Good pharmacy and fast service, majority of th...",None,"{'time': 1556236566548, 'text': 'Hi Marsha, th...",0x89b7a76096bdad0b:0x66e4be0af3dc1720
2,1.179088e+20,Noel,1531995775977,5,Awesome service here!,None,None,0x89b7a76096bdad0b:0x66e4be0af3dc1720
3,1.174477e+20,Sheila Dickerson,1533222175613,1,I never received my prescription.,None,"{'time': 1533224288512, 'text': 'Can you pleas...",0x89b7a76096bdad0b:0x66e4be0af3dc1720
4,1.145177e+20,Carlos Alvarez,1489337608868,5,very fast,None,None,0x89b7a76096bdad0b:0x66e4be0af3dc1720

# review-Massachusetts

In [55]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Massachusetts\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.180340e+20,Donna Carlson,1619732714443,5,People run it make sure you are comfortable,None,None,0x89e4a103dd188585:0xfadc47938337579f
1,1.101673e+20,michael simmons,1615400031636,5,When you need a helping hand.,None,None,0x89e4a103dd188585:0xfadc47938337579f
2,1.122136e+20,Paul Murray,1593992657241,5,Very Helpful and understanding people definite...,None,None,0x89e4a103dd188585:0xfadc47938337579f
3,1.081745e+20,Elba De Oliveira,1582074606394,5,Very good place nice things but on Saturday th...,None,None,0x89e4a103dd188585:0xfadc47938337579f
4,1.089901e+20,Sherri Mayne,1572962045881,5,Awesome place,None,None,0x89e4a103dd188585:0xfadc47938337579f

# review-Michigan

In [56]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Michigan\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.149975e+20,Deb Mae,1611524448905,5,I have been with Sara as my Agent for many yea...,None,"{'time': 1611589883844, 'text': 'Deb, Thank y...",0x883b4dcfa112c3f7:0xa893bca9bab5ec71
1,1.046177e+20,sherry stone,1574805324619,1,I went to this allstate because I needed a new...,None,None,0x883b4dcfa112c3f7:0xa893bca9bab5ec71
2,1.064380e+20,Shannon Kropp,1455651168542,5,Everyone at this office is great! They make m...,None,None,0x883b4dcfa112c3f7:0xa893bca9bab5ec71
3,1.053143e+20,M A T T,1595369812147,5,Great service,None,None,0x883b4dcfa112c3f7:0xa893bca9bab5ec71
4,1.075909e+20,Not the Mama,1593635254254,5,Friendly,None,None,0x883b4dcfa112c3f7:0xa893bca9bab5ec71

# review-Minnesota

In [57]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Minnesota\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.129131e+20,king 8488,1600976328270,5,Super helpful local business they are there fo...,None,"{'time': 1605627047572, 'text': 'Thank you for...",0x87f630d649635d65:0x57b17f6d51a91c8b
1,1.162558e+20,Steve Thornton,1544372192905,5,I was renting at a popular nation wide chain a...,None,"{'time': 1544549857922, 'text': 'Thank you Ste...",0x87f630d649635d65:0x57b17f6d51a91c8b
2,1.019050e+20,Jessica Perry,1464405464526,5,Hands down the best place ever! Ran by super n...,None,None,0x87f630d649635d65:0x57b17f6d51a91c8b
3,1.042615e+20,Frank Beissel,1537928043548,4,Edit. I was wrong. Wrong place.\n\nThey seem ...,None,"{'time': 1537509536392, 'text': 'I believe you...",0x87f630d649635d65:0x57b17f6d51a91c8b
4,1.023054e+20,Ryan Kwyzla,1538256770007,5,Super friendly and helpful staff. Location is ...,None,"{'time': 1544550134880, 'text': 'Thanks Ryan! ...",0x87f630d649635d65:0x57b17f6d51a91c8b

# review-Mississippi

In [58]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Mississippi\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.098186e+20,Patti Strother,1598023328629,1,Don’t Use your DEBIT CARD at this location! Sk...,None,None,0x887f93d5418166af:0xbbce72cb50342df1
1,1.089888e+20,Hilda Forister,1492212551217,5,Every time I have gone it's either for gas or ...,None,None,0x887f93d5418166af:0xbbce72cb50342df1
2,1.092447e+20,J TH,1530800061632,5,There's a young black male who works here that...,None,None,0x887f93d5418166af:0xbbce72cb50342df1
3,1.147864e+20,Tim Ashcraft,1447764412977,3,No. This is not always the best gas price arou...,None,None,0x887f93d5418166af:0xbbce72cb50342df1
4,1.083701e+20,DAVE MARABLE,1484427496391,5,Staff and service are great!!! Chicken combo i...,None,"{'time': 1484964924867, 'text': 'Dave, thank y...",0x887f93d5418166af:0xbbce72cb50342df1

# review-Missouri

In [59]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Missouri\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.089882e+20,Tracy Reeder,1575932557871,1,This company seems like a great place to work ...,None,None,0x87c87e473635feb5:0x6de42f63fb4ad19b
1,1.004776e+20,Brett Stevens,1554489896899,5,None,None,None,0x87c87e473635feb5:0x6de42f63fb4ad19b
2,1.181701e+20,steven williams,1498137347552,5,None,None,None,0x87c87e473635feb5:0x6de42f63fb4ad19b
3,1.085274e+20,b,1511496601769,5,None,None,None,0x87c87e473635feb5:0x6de42f63fb4ad19b
4,1.034012e+20,Bekkah said,1505363292500,5,None,None,None,0x87c87e473635feb5:0x6de42f63fb4ad19b

# review-Montana

In [60]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Montana\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.147715e+20,Shifts and giggles,1618975510300,5,Good people that know thier stuff excellent cu...,None,None,0x535e9ec3ce050deb:0x2169887374ce879f
1,1.005777e+20,Craig Thomas,1609450506236,5,Fixed my saw bout 10min.\n\n1st class.,None,None,0x535e9ec3ce050deb:0x2169887374ce879f
2,1.052042e+20,Lance Broshar,1595447399474,5,Excellent service and products. Fair and reaso...,None,None,0x535e9ec3ce050deb:0x2169887374ce879f
3,1.105216e+20,Inicorn Refs,1569377416664,5,One day they may start accepting credit cards!...,None,None,0x535e9ec3ce050deb:0x2169887374ce879f
4,1.158574e+20,Chad,1607551230333,5,Great place good people,None,None,0x535e9ec3ce050deb:0x2169887374ce879f

# review-Nebraska

In [61]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Nebraska\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.088468e+20,Dan Grundy,1608331653332,5,For give me for not catching the managers name...,None,None,0x8793f2b4d692a433:0xc4d08ac32475203
1,1.161914e+20,dominick vacura,1627079809988,5,I've got shades!,None,None,0x8793f2b4d692a433:0xc4d08ac32475203
2,1.089856e+20,Cody Albers,1533832546055,4,Went here to see if I could get my glasses adj...,None,None,0x8793f2b4d692a433:0xc4d08ac32475203
3,1.169268e+20,Markus Farmer,1559062491880,5,Very helpful with questions. More Versace plea...,None,None,0x8793f2b4d692a433:0xc4d08ac32475203
4,1.147214e+20,james spevak,1526077661056,5,Pretty good place to look for sunglasses. But ...,None,None,0x8793f2b4d692a433:0xc4d08ac32475203

# review-Nevada

In [62]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Nevada\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.028432e+20,CDL CO,1622740504476,5,No frills smaller coffee counter in the corner...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
1,1.149544e+20,So_ Blind,1573159413820,1,Save yourself the frustration and just ignore ...,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
2,1.165234e+20,Greg Hansen,1515251163362,3,I passed two Starbucks in order to get to this...,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
3,1.033041e+20,Brett Powell,1506206762095,3,It does the job and is my preference over the ...,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
4,1.141624e+20,M Aris,1468298771892,3,None,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9

# review-New_Hampshire

In [63]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-New_Hampshire\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.073259e+20,Jeffrey J Howland,1621473866341,4,Like many campgrounds dust is a problem... but...,None,None,0x89e2936fffffffff:0x3fce71a3d83aa514
1,1.130123e+20,Nathaniel Houle,1604724170325,5,Nice clean and welcoming campground. Love the...,None,None,0x89e2936fffffffff:0x3fce71a3d83aa514
2,1.058399e+20,Shannon Thomas,1585573760111,5,❤Super friendly people and very well maintaine...,None,None,0x89e2936fffffffff:0x3fce71a3d83aa514
3,1.066511e+20,Lora Haase,1593363624213,5,Great time. Owners are awesome. Had a great w...,None,None,0x89e2936fffffffff:0x3fce71a3d83aa514
4,1.130374e+20,David Blouin,1593808080254,4,Seems like a nice family owned campground the ...,None,None,0x89e2936fffffffff:0x3fce71a3d83aa514

# review-New_Jersey

In [64]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-New_Jersey\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.011903e+20,Monica Zobbi,1614634731992,5,Viktoriya is always very professional and atte...,None,None,0x89c2fb42465dd457:0x437fc2232abf899
1,1.172699e+20,Vitaliia Stefurak,1572974792541,5,"If I could leave them 10 starts I would , unbe...",None,None,0x89c2fb42465dd457:0x437fc2232abf899
2,1.152270e+20,Maria Guzman,1578525387607,5,Laura took her time to know my hair and what s...,None,None,0x89c2fb42465dd457:0x437fc2232abf899
3,1.161828e+20,Jo Rad,1602103279588,5,"Wow, what an experience! Haircut by Victoria! ...",None,"{'time': 1576097102614, 'text': 'Thank you! Th...",0x89c2fb42465dd457:0x437fc2232abf899
4,1.010712e+20,Kimberly Hults,1593034107348,5,Love this salon! The great experience starts o...,None,"{'time': 1575147680996, 'text': 'Thanks for th...",0x89c2fb42465dd457:0x437fc2232abf899

# review-New_Mexico

In [65]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-New_Mexico\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.090151e+20,Tania Solis,1607374166577,5,I was helped by Rachel and let me tell you! Sh...,None,"{'time': 1610492163288, 'text': 'Thank you Tan...",0x86fc95104733adc1:0x94da050d754f90b3
1,1.146420e+20,James Watters,1558380690011,5,Colton was fantastic to work with and our shir...,None,"{'time': 1558533046333, 'text': 'Thank you Jam...",0x86fc95104733adc1:0x94da050d754f90b3
2,1.181733e+20,Jesse G.,1542751368749,1,I've been a returning customer for sometime an...,None,"{'time': 1542752652008, 'text': 'Jesse, When ...",0x86fc95104733adc1:0x94da050d754f90b3
3,1.159089e+20,TR S,1486093061400,4,Flighty service. Great selection.,None,None,0x86fc95104733adc1:0x94da050d754f90b3
4,1.089812e+20,Mannie Myers,1625862764044,4,None,None,None,0x86fc95104733adc1:0x94da050d754f90b3

# review-New_York

In [66]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-New_York\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.137221e+20,Alvin Martinez,1603494795361,5,I'm late to posting this but this store especi...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89c25fc9494dce47:0x6d63c807b59a55
1,1.072934e+20,Johnnie Jackson,1620157037403,1,Very dissatisfied I did not get my phone the p...,None,"{'time': 1620268360920, 'text': 'We pride ours...",0x89c25fc9494dce47:0x6d63c807b59a55
2,1.003786e+20,Manie Blazer,1597431662039,5,Excellent very well done with professional car...,None,None,0x89c25fc9494dce47:0x6d63c807b59a55
3,1.149982e+20,Fashion Fiinds,1543773862044,5,Basing my review strictly on the service I rec...,None,"{'time': 1543855317372, 'text': 'Thanks for th...",0x89c25fc9494dce47:0x6d63c807b59a55
4,1.171782e+20,Andres Rieloff,1597279097718,1,Bad! Disorganized. I'm being totally honest. I...,None,None,0x89c25fc9494dce47:0x6d63c807b59a55

# review-North_Carolina

In [67]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-North_Carolina\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.173413e+20,Vicki Pittman,1624283263383,5,Son gets hair cut. Kat is his stylist/barber. ...,None,None,0x89a911d03136ef51:0xb1c06825101afe51
1,1.157297e+20,Harley Reaves,1571655539426,5,Really great group of girls! If you have the e...,None,None,0x89a911d03136ef51:0xb1c06825101afe51
2,1.115478e+20,JESSICA ALFORD,1590856630354,5,Kat is amazing! My son loves the way she gives...,None,None,0x89a911d03136ef51:0xb1c06825101afe51
3,1.091106e+20,Tyler Piotrovsky,1577651422743,5,"Samantha gave me a perfect cut for me, though ...",None,None,0x89a911d03136ef51:0xb1c06825101afe51
4,1.120391e+20,Frank Bissette,1590252300386,5,As always Kat is the greatest stylist ever!!,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89a911d03136ef51:0xb1c06825101afe51

# review-North_Dakota

In [68]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-North_Dakota\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.024707e+20,Bryan Miller,1626317971375,5,Fast quick service. I go here almost all the t...,None,None,0x52d0147640d529bd:0xec9407dc9201780b
1,1.022127e+20,Kurt Franke,1612038279541,5,Mike and crew do a great job. Dropped off veh...,None,None,0x52d0147640d529bd:0xec9407dc9201780b
2,1.125204e+20,Amber Moller,1623440198128,5,Amazing love this place!,None,None,0x52d0147640d529bd:0xec9407dc9201780b
3,1.133982e+20,Ian Smith,1619722402903,5,Fair prices speedy work,None,None,0x52d0147640d529bd:0xec9407dc9201780b
4,1.160142e+20,Lilslayerplaez .W,1594748268627,5,Always in & out. Super professional and conve...,None,None,0x52d0147640d529bd:0xec9407dc9201780b

# review-Ohio

In [69]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Ohio\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.147335e+20,Justin Calabris,1584232912307,1,I would not recommend.,None,"{'time': 1606161555458, 'text': 'Justin, I am ...",0x8830cf8574b74559:0x64520f17d5e337dc
1,1.155461e+20,Benjamin Cope,1487429476527,5,Quality communication and workmanship,None,None,0x8830cf8574b74559:0x64520f17d5e337dc
2,1.091146e+20,Jason Hammond,1629077164606,5,None,None,None,0x8830cf8574b74559:0x64520f17d5e337dc
3,1.159693e+20,a Null,1485737926073,2,None,None,None,0x8830cf8574b74559:0x64520f17d5e337dc
4,1.138889e+20,Justin F,1499085386882,4,None,None,None,0x8830cf8574b74559:0x64520f17d5e337dc

# review-Oklahoma

In [70]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Oklahoma\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.089901e+20,Dana Schreiber,1630078007996,5,"Very knowledgeable, you have a question they k...",None,None,0x87b2695af1ba5c73:0x13084fad93bafbe6
1,1.138113e+20,Julie Combs,1612485567960,3,Well they had what I needed but the only Budt...,None,None,0x87b2695af1ba5c73:0x13084fad93bafbe6
2,1.024559e+20,Regi Glo,1598387347506,5,Great place to shop... very helpful and they a...,None,"{'time': 1598541936411, 'text': 'Thank you for...",0x87b2695af1ba5c73:0x13084fad93bafbe6
3,1.037625e+20,Jaimee Steed,1593476994427,5,Sara is fabulous and super sweet! Lots of choi...,None,"{'time': 1593623171971, 'text': 'Thank you so ...",0x87b2695af1ba5c73:0x13084fad93bafbe6
4,1.164308e+20,Kaylee Miller,1575156563539,1,This place always advertises good deals to get...,None,"{'time': 1579024194534, 'text': 'I completely ...",0x87b2695af1ba5c73:0x13084fad93bafbe6

# review-Oregon

In [71]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Oregon\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.162386e+20,Mike Alan,1607013385211,5,Every staff member in this office is absolutel...,None,None,0x54bfff5952aad583:0xad7afdc825730614
1,1.169888e+20,Jennifer Zumwalt,1607571121183,5,They are amazing. Always so kinda and helpful....,None,None,0x54bfff5952aad583:0xad7afdc825730614
2,1.180039e+20,Courtney Saunders,1582762237754,5,"With three kids and myself, our family has bee...",None,"{'time': 1599964077016, 'text': 'It has been g...",0x54bfff5952aad583:0xad7afdc825730614
3,1.180039e+20,Courtney Saunders,1582762237754,5,"With three kids and myself, our family has bee...",None,"{'time': 1599964077016, 'text': 'It has been g...",0x54bfff5952aad583:0xad7afdc825730614
4,1.030973e+20,Becky proulx,1584064731306,5,Three of our children have received their brac...,None,"{'time': 1599961987996, 'text': 'I am glad you...",0x54bfff5952aad583:0xad7afdc825730614

# review-Pennsylvania

In [72]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Pennsylvania\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.049447e+20,Jaron Whitfield,1517731762839,5,"Joe is quite unique of his line of work, he as...",None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb
1,1.176097e+20,Jonathan McCarthy,1476276291163,5,For such a small place their impact on my life...,None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb
2,1.105632e+20,Rocky Kev,1338826945578,5,I usually give them a call before I stop by to...,None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb
3,1.128960e+20,Josep Valls,1363286110554,5,My bike had been sitting outdoors for a good w...,None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb
4,1.106197e+20,Timaree Schmit,1548798329760,5,Always an easy experience. Service is knowledg...,None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb

# review-Rhode_Island

In [73]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Rhode_Island\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.079069e+20,Rubia Bella,1601590520320,5,Very good! Will eat here again! ☺️😍,None,"{'time': 1602371857761, 'text': 'Hope to see y...",0x89e44fe1c2a2a2c3:0x5fc9f6751fb29737
1,1.167350e+20,angel olivencia,1602983693555,4,Not bad place... good food,None,None,0x89e44fe1c2a2a2c3:0x5fc9f6751fb29737
2,1.057469e+20,Daniel Reggiani,1603064156784,5,Really good food,None,None,0x89e44fe1c2a2a2c3:0x5fc9f6751fb29737
3,1.167282e+20,Joseph “Joe” Solomon,1600710962505,5,Great people and food,None,"{'time': 1602371881382, 'text': 'Thanks for th...",0x89e44fe1c2a2a2c3:0x5fc9f6751fb29737
4,1.113063e+20,Julio Robinson,1601408236165,5,None,None,"{'time': 1602371865572, 'text': '🙏🏼'}",0x89e44fe1c2a2a2c3:0x5fc9f6751fb29737

# review-South_Carolina

In [74]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-South_Carolina\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.089900e+20,Pamela Poole,1611327187871,4,They were very informative about the product...,None,None,0x8856e3dd768d3649:0xb38593eb55374673
1,1.157870e+20,Cleveland Grant,1520462369713,5,Great Gun Shop!!! Best local shop you will fin...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x8856e3dd768d3649:0xb38593eb55374673
2,1.009543e+20,Sean Smith,1492902201253,5,Met Jr and Cathy today at the gun show in Gree...,None,None,0x8856e3dd768d3649:0xb38593eb55374673
3,1.177168e+20,ThunderStroke91,1509505441582,5,"Big variety, they've got what you need. They a...",None,None,0x8856e3dd768d3649:0xb38593eb55374673
4,1.030620e+20,Joshua Tongue,1578438229754,5,None,None,None,0x8856e3dd768d3649:0xb38593eb55374673

# review-South_Dakota

In [75]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-South_Dakota\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.035634e+20,Peri Gray,1516122675780,5,Great place to care for our children.,None,None,0x532af45db8f30779:0xd9be9359f1e56178
1,1.018250e+20,Suzy Berndt,1532922350314,5,Th sw y are so nice,None,None,0x532af45db8f30779:0xd9be9359f1e56178
2,1.087116e+20,Rosemary Red Legs,1530969093932,5,Went with my daughter,None,None,0x532af45db8f30779:0xd9be9359f1e56178
3,1.018523e+20,Brown Wolf,1537085635922,2,None,None,None,0x532af45db8f30779:0xd9be9359f1e56178
4,1.089874e+20,C J Blue Coat,1474922375491,5,None,None,None,0x532af45db8f30779:0xd9be9359f1e56178

# review-Tennessee

In [76]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Tennessee\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.182884e+20,Ally Medina,1567349037857,1,I have been taking my daughter here since 2015...,None,"{'time': 1567368090513, 'text': 'All of the pr...",0x88640cea7d985e0b:0xf214c6bf1d01be6c
1,1.130847e+20,Nikki Thomas,1476897445568,5,We switched from Dr.Henschel at Tennessee Pedi...,None,None,0x88640cea7d985e0b:0xf214c6bf1d01be6c
2,1.006869e+20,Michael Wahba,1574100089433,5,The doctors and nurses and all staff are reall...,None,None,0x88640cea7d985e0b:0xf214c6bf1d01be6c
3,1.005480e+20,DaiJa Ricks,1535731263264,5,My children have been patients at this office ...,None,None,0x88640cea7d985e0b:0xf214c6bf1d01be6c
4,1.059574e+20,Lydia Thompson,1554665980076,5,"Dr. Haselton is great, my boys have seen her f...",None,None,0x88640cea7d985e0b:0xf214c6bf1d01be6c

# review-Texas

In [77]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Texas\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.105453e+20,Kimberly Feger,1625431734826,5,"The pharmacist, Erin, is phenomenal. She was s...",None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
1,1.036198e+20,Briana Streit,1568336283913,2,I gave them 2 stars because they offer prescri...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
2,1.019167e+20,Sylvia Caudillo,1519873586872,1,If I could put minus stars I would. This has t...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
3,1.178709e+20,Ginger Kinyon,1571638384637,1,Please fix your restroom doors,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
4,1.103973e+20,Angeles Arellano,1546568877087,1,This pharmacy Walmart dose not work not come a...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320

# review-Utah

In [78]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Utah\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.111826e+20,Liz W Poch,1627085008811,5,Paige is the best! Everyone at this branch is ...,None,None,0x87528767d0ec0e4d:0x7a2f1637a6fb6925
1,1.176892e+20,Mario D'Ambrosio,1626437133578,1,I have updated my systems on two titles for ca...,None,None,0x87528767d0ec0e4d:0x7a2f1637a6fb6925
2,1.158347e+20,Kathleen Hambly,1585165423975,5,Simone is the best. She helped me to defer my ...,None,None,0x87528767d0ec0e4d:0x7a2f1637a6fb6925
3,1.126796e+20,Crystal Olsen,1591629458998,1,Ive called several times and there customer se...,None,None,0x87528767d0ec0e4d:0x7a2f1637a6fb6925
4,1.085994e+20,Sarah Jensen,1510264647735,5,My fiance and I had an awesome stress-free exp...,None,"{'time': 1514404059776, 'text': 'Thank you for...",0x87528767d0ec0e4d:0x7a2f1637a6fb6925

# review-Vermont

In [79]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Vermont\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.180269e+20,rebecca kerns,1620085852324,5,Always done right from wood stove to screens!,None,"{'time': 1620087641504, 'text': 'Good Evening,...",0x89e02445cb9db457:0x37f42bff4edf7a43
1,1.015327e+20,Peter DeForge,1580309946474,5,A great company to work with. Their sales and...,None,"{'time': 1580320228721, 'text': 'Good Afternoo...",0x89e02445cb9db457:0x37f42bff4edf7a43
2,1.154041e+20,Chad Goulette,1605195974445,5,Great place to do business with staff was grea...,None,"{'time': 1605195166792, 'text': 'Hi Chad! Tha...",0x89e02445cb9db457:0x37f42bff4edf7a43
3,1.047893e+20,Mark LaFountain,1593005848256,5,"Awesome Customer service, quick response, and ...",None,"{'time': 1593376422014, 'text': 'Mark, thank y...",0x89e02445cb9db457:0x37f42bff4edf7a43
4,1.089807e+20,Jeff R,1582059996120,5,"If you need a top quality job, by a group of p...",None,"{'time': 1582063833737, 'text': 'Good Afternoo...",0x89e02445cb9db457:0x37f42bff4edf7a43

# review-Virginia

In [80]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Virginia\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.116036e+20,Jessie Lee,1581455645898,5,I loved Rita!! She was awesome,None,None,0x89b1af6550d33595:0x8fb8874b8aa57e3f
1,1.062787e+20,Brittany Janis,1612044004790,2,Expensive to do taxes here,None,"{'time': 1614371539737, 'text': 'Thank you for...",0x89b1af6550d33595:0x8fb8874b8aa57e3f
2,1.075629e+20,Brandy Monge,1580144842073,5,She was very helpful and made sure I understood,None,None,0x89b1af6550d33595:0x8fb8874b8aa57e3f
3,1.000741e+20,Lisa Adkins,1612916442287,4,Tracey Spadey,None,None,0x89b1af6550d33595:0x8fb8874b8aa57e3f
4,1.015055e+20,Bill Bercaw,1549752949680,2,I waited 1.5 hours for my Appointment because ...,None,None,0x89b1af6550d33595:0x8fb8874b8aa57e3f

# review-Washington

In [81]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Washington\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.030930e+20,Casper Steele,1626907411534,2,Drivers say security has bathroom key. Securit...,None,None,0x5495ae7d3bf7d097:0xbcbc06152a3ccebc
1,1.110141e+20,Judy Maes,1613028426989,5,It's a CTRAN transit center with schedules to ...,None,None,0x5495ae7d3bf7d097:0xbcbc06152a3ccebc
2,1.117244e+20,Daniel Hernandez,1536710665852,5,Neat little Transit Center with lots of schedu...,None,None,0x5495ae7d3bf7d097:0xbcbc06152a3ccebc
3,1.153311e+20,Lumi Nosa,1484359806540,5,Very helpful. Thanks,None,None,0x5495ae7d3bf7d097:0xbcbc06152a3ccebc
4,1.069064e+20,James Conright,1500643741079,1,They don't sell tacos.,None,None,0x5495ae7d3bf7d097:0xbcbc06152a3ccebc

# review-West_Virginia

In [82]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-West_Virginia\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.046492e+20,Pam Holcomb,1557935316444,4,Nice personnel and atmosphere and have done bu...,None,None,0x884955486c37d473:0x1b1f0907f74deee5
1,1.009344e+20,Cheryl Norga,1532897953993,5,Maggie is awesome..very sweet & helpful.\nLadi...,None,None,0x884955486c37d473:0x1b1f0907f74deee5
2,1.096628e+20,Jason Lough,1551725058851,3,Little on the expensive side but friendly people,None,None,0x884955486c37d473:0x1b1f0907f74deee5
3,1.094669e+20,Chris Cook,1574728085154,5,Too bad this place is closing.,None,None,0x884955486c37d473:0x1b1f0907f74deee5
4,1.028647e+20,Dave Graley,1539855732886,4,None,None,None,0x884955486c37d473:0x1b1f0907f74deee5

# review-Wisconsin

In [83]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Wisconsin\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.054496e+20,Kadence Leigh,1592846644902,3,Fun although a lot of breaks witch sucks and t...,None,None,0x87fd108d3f915a5f:0x2b7132092901f4df
1,1.089909e+20,Jeremy Schafer,1534088176466,1,Management sucks they don't watch the kids ha...,None,None,0x87fd108d3f915a5f:0x2b7132092901f4df
2,1.011444e+20,Kaden Lindner,1525430562021,1,Horrible water so groups I saw a full diper on...,None,None,0x87fd108d3f915a5f:0x2b7132092901f4df
3,1.034197e+20,J ellen,1594403566473,1,None,None,None,0x87fd108d3f915a5f:0x2b7132092901f4df
4,1.030543e+20,Stephanie Johnson,1575431324657,3,None,None,None,0x87fd108d3f915a5f:0x2b7132092901f4df

# review-Wyoming\

In [84]:
# Obtén la lista de archivos JSON
json_files = glob.glob('Google Maps\\drive-download-20231120T150233Z-001\\reviews-estados\\review-Wyoming\\*.json')
# Crea una lista vacía para almacenar los dataframes
df_list = []
# Lee cada archivo JSON y agrégalo a la lista de dataframes
for file in json_files:
    df = pd.read_json(file, lines=True)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.114353e+20,Jenn Thomas,1602893531994,5,"When knowledge is key and kindness matters, Ni...",None,None,0x8758dd1ca83449d9:0xb6156dcfc5e04c9b
1,1.036137e+20,Michelle Barta,1575991509006,5,The entire team is outstanding! They are profe...,None,"{'time': 1580484156696, 'text': 'We are lucky ...",0x8758dd1ca83449d9:0xb6156dcfc5e04c9b
2,1.135567e+20,Bethany Baldes,1626981484302,5,None,None,None,0x8758dd1ca83449d9:0xb6156dcfc5e04c9b
3,1.022354e+20,nichole vogt,1583381337082,5,None,None,None,0x8758dd1ca83449d9:0xb6156dcfc5e04c9b
4,1.140217e+20,Kristi Friday,1571112557173,4,None,None,"{'time': 1571246498430, 'text': 'Thanks for th...",0x8758dd1ca83449d9:0xb6156dcfc5e04c9b