In [87]:
import pandas as pd
import numpy as np

## Yelp

### Business

Contiene información del comercio, incluyendo localización, atributos y categorías.

In [47]:
businessDf = pd.read_pickle('Datasets/Yelp/business.pkl')
businessDf.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
businessDf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
 14  business_id   5 non-null       object
 15  name          5 non-null       object
 16  address       5 non-null       object
 17  city          5 non-null       object
 18  state         5 non-null       object
 19  postal_code   5 non-null       object
 20  latitude      5 non-null       object
 21  longitude     5 non-null       object
 22  stars         5 non-null       object
 23  review_count  5 non-null       object
 24  is_open       5 non-null       object
 25  attributes    5 non-null       object
 26  categories    5 non-null       object
 27  hours         5 non-null       object
dtypes: object(28)
memory usage: 33.3+ MB

In [51]:
# Hay columnas duplicadas, estas son eliminadas ya que contienen la misma informacion.

businessDf = businessDf.loc[:, ~businessDf.columns.duplicated()]

In [56]:
businessDf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: object(14)
memory usage: 17.2+ MB

In [60]:
# Vemos la cantidad de nulos.
businessDf.isna().sum()

business_id         0
name                0
address             0
city                0
state               3
postal_code         0
latitude            0
longitude           0
stars               0
review_count        0
is_open             0
attributes      13744
categories        103
hours           23223
dtype: int64

In [96]:
listaCategorias = []
for categorias in businessDf['categories']:
    if categorias != None:
        for categoria in categorias.split(','):
            listaCategorias.append(categoria.strip())

In [110]:
valores_unicos, frecuencias = np.unique(listaCategorias, return_counts=True)

In [118]:
sorted(frecuencias, reverse=True)

[52268,
 27781,
 24395,
 14356,
 14292,
 12281,
 11890,
 11198,
 11065,
 10773,
 9895,
 8366,
 8139,
 7687,
 7093,
 6703,
 6472,
 6239,
 6097,
 5857,
 5799,
 5739,
 5636,
 5434,
 5433,
 5046,
 4621,
 4600,
 4573,
 4233,
 3763,
 3758,
 3577,
 3539,
 3293,
 3270,
 3239,
 3186,
 3169,
 3150,
 3139,
 3064,
 2977,
 2966,
 2756,
 2657,
 2645,
 2626,
 2528,
 2498,
 2480,
 2471,
 2413,
 2413,
 2393,
 2356,
 2333,
 2327,
 2184,
 2134,
 2110,
 1997,
 1993,
 1936,
 1930,
 1926,
 1921,
 1919,
 1892,
 1831,
 1830,
 1821,
 1718,
 1717,
 1694,
 1684,
 1677,
 1665,
 1662,
 1639,
 1630,
 1630,
 1604,
 1597,
 1549,
 1547,
 1544,
 1525,
 1506,
 1494,
 1487,
 1460,
 1459,
 1440,
 1430,
 1422,
 1383,
 1357,
 1356,
 1278,
 1273,
 1273,
 1263,
 1229,
 1216,
 1199,
 1194,
 1192,
 1189,
 1158,
 1149,
 1131,
 1112,
 1111,
 1106,
 1104,
 1097,
 1075,
 1073,
 1061,
 1050,
 1043,
 1020,
 1018,
 1016,
 988,
 984,
 975,
 975,
 975,
 973,
 971,
 960,
 955,
 954,
 952,
 948,
 938,
 932,
 923,
 919,
 906,
 896,
 892,
 872,
 870,
 868,
 863,
 858,
 856,
 852,
 850,
 842,
 842,
 838,
 828,
 810,
 808,
 800,
 800,
 796,
 795,
 792,
 792,
 790,
 786,
 781,
 779,
 777,
 774,
 763,
 759,
 753,
 753,
 752,
 749,
 746,
 738,
 727,
 726,
 709,
 706,
 692,
 691,
 670,
 667,
 660,
 658,
 639,
 638,
 636,
 630,
 624,
 622,
 621,
 614,
 610,
 609,
 601,
 590,
 588,
 581,
 574,
 565,
 561,
 561,
 561,
 557,
 555,
 552,
 552,
 541,
 539,
 532,
 528,
 526,
 525,
 518,
 516,
 513,
 509,
 507,
 503,
 503,
 503,
 503,
 503,
 503,
 498,
 497,
 494,
 489,
 477,
 469,
 468,
 468,
 467,
 466,
 464,
 463,
 456,
 454,
 447,
 447,
 446,
 445,
 442,
 441,
 440,
 439,
 436,
 425,
 424,
 423,
 422,
 421,
 416,
 416,
 413,
 411,
 403,
 401,
 397,
 395,
 394,
 382,
 382,
 378,
 377,
 373,
 369,
 368,
 367,
 367,
 363,
 363,
 363,
 362,
 359,
 357,
 357,
 356,
 356,
 356,
 353,
 352,
 347,
 344,
 342,
 339,
 339,
 339,
 337,
 337,
 336,
 336,
 332,
 329,
 328,
 327,
 325,
 325,
 324,
 323,
 320,
 320,
 317,
 314,
 313,
 311,
 311,
 311,
 310,
 309,
 304,
 303,
 302,
 301,
 297,
 296,
 296,
 294,
 293,
 292,
 289,
 287,
 287,
 286,
 286,
 286,
 284,
 283,
 279,
 279,
 278,
 278,
 277,
 277,
 274,
 273,
 272,
 272,
 271,
 270,
 269,
 268,
 266,
 266,
 265,
 261,
 261,
 257,
 256,
 256,
 254,
 253,
 252,
 252,
 250,
 245,
 245,
 244,
 243,
 242,
 241,
 241,
 239,
 238,
 236,
 235,
 232,
 232,
 232,
 228,
 228,
 228,
 226,
 226,
 225,
 225,
 223,
 222,
 222,
 222,
 221,
 220,
 218,
 218,
 218,
 216,
 215,
 211,
 210,
 207,
 207,
 207,
 206,
 205,
 204,
 204,
 203,
 202,
 201,
 201,
 201,
 201,
 201,
 200,
 198,
 198,
 197,
 197,
 197,
 195,
 194,
 193,
 191,
 190,
 186,
 186,
 185,
 185,
 182,
 182,
 180,
 179,
 178,
 177,
 176,
 175,
 175,
 175,
 174,
 174,
 173,
 172,
 171,
 170,
 170,
 168,
 166,
 166,
 165,
 163,
 163,
 162,
 161,
 159,
 159,
 158,
 158,
 157,
 157,
 156,
 156,
 155,
 154,
 153,
 153,
 151,
 151,
 151,
 150,
 149,
 149,
 149,
 148,
 148,
 148,
 147,
 147,
 146,
 145,
 143,
 143,
 142,
 140,
 140,
 140,
 139,
 139,
 139,
 138,
 137,
 136,
 136,
 136,
 135,
 135,
 135,
 135,
 133,
 133,
 131,
 131,
 131,
 131,
 131,
 130,
 130,
 130,
 130,
 130,
 128,
 128,
 127,
 127,
 127,
 127,
 126,
 126,
 125,
 125,
 124,
 124,
 123,
 122,
 122,
 122,
 122,
 122,
 122,
 122,
 121,
 118,
 118,
 118,
 117,
 117,
 117,
 116,
 116,
 116,
 116,
 116,
 115,
 114,
 114,
 113,
 113,
 113,
 112,
 111,
 111,
 111,
 110,
 110,
 109,
 109,
 108,
 108,
 108,
 106,
 105,
 105,
 104,
 103,
 103,
 102,
 102,
 101,
 100,
 100,
 99,
 99,
 99,
 99,
 98,
 98,
 98,
 97,
 97,
 97,
 96,
 96,
 95,
 95,
 94,
 93,
 93,
 93,
 93,
 92,
 92,
 92,
 92,
 92,
 91,
 90,
 90,
 90,
 89,
 89,
 88,
 88,
 88,
 88,
 87,
 87,
 87,
 86,
 86,
 86,
 85,
 85,
 85,
 85,
 84,
 84,
 83,
 83,
 82,
 82,
 82,
 81,
 81,
 81,
 80,
 80,
 80,
 80,
 79,
 79,
 78,
 78,
 77,
 77,
 77,
 77,
 76,
 76,
 75,
 75,
 75,
 75,
 75,
 73,
 73,
 73,
 73,
 73,
 73,
 72,
 72,
 72,
 71,
 71,
 70,
 69,
 69,
 69,
 67,
 67,
 67,
 66,
 66,
 66,
 65,
 65,
 65,
 65,
 65,
 64,
 63,
 62,
 62,
 62,
 62,
 61,
 61,
 61,
 61,
 60,
 60,
 60,
 60,
 60,
 60,
 59,
 59,
 59,
 59,
 58,
 58,
 58,
 58,
 58,
 57,
 56,
 56,
 56,
 55,
 55,
 55,
 54,
 54,
 54,
 53,
 53,
 53,
 53,
 53,
 52,
 52,
 52,
 52,
 52,
 51,
 51,
 51,
 51,
 51,
 50,
 50,
 50,
 50,
 50,
 50,
 49,
 49,
 49,
 49,
 49,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 46,
 46,
 45,
 45,
 45,
 45,
 45,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 43,
 43,
 43,
 43,
 43,
 43,
 42,
 42,
 42,
 42,
 41,
 41,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 34,
 34,
 34,
 34,
 34,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 30,
 30,
 30,
 30,
 30,
 30,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 21,
 21,
 21,
 21,
 21,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 ...]

In [120]:
valores_unicos[frecuencias > 12281]

array(['Beauty & Spas', 'Food', 'Home Services', 'Restaurants',
       'Shopping'], dtype='<U36')

In [114]:
valores_unicos[frecuencias == 52268]

array(['Restaurants'], dtype='<U36')

In [121]:
businessDf

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.39491,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

### Review

Contiene las reseñas completas, incluyendo el user_id que escribió el review y el business_id por el cual se escribe la reseña.

### Checkin

In [8]:
checkinDf = pd.read_json('Datasets/Yelp/checkin.json', lines=True)
checkinDf.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

### Tip

In [9]:
tipDf = pd.read_json('Datasets/Yelp/tip.json', lines=True)
tipDf.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

### User

In [10]:
userDf = pd.read_parquet('Datasets/Yelp/user.parquet')
userDf.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0