In [1]:
import pandas as pd
import numpy as np
import os
import json
import ijson
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import gzip

In [21]:
yelp = pd.read_parquet(r'datasets\yelp\user-002.parquet')

In [ ]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105597 entries, 0 to 2105596
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 353.4+ MB

In [ ]:
yelp.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

## Columnas eliminadas

-review_count

-funny

-cool

-fans



 4   useful              int64  
 5   funny               int64  
 6   cool                int64  
 7   elite               object 
 8   friends             object 
 9   fans                int64  
 10  average_stars       float64
 11  compliment_hot      int64  
 12  compliment_more     int64  
 13  compliment_profile  int64  
 14  compliment_cute     int64  
 15  compliment_list     int64  
 16  compliment_note     int64  
 17  compliment_plain    int64  
 18  compliment_cool     int64  
 19  compliment_funny    int64  
 20  compliment_writer   int64  
 21  compliment_photos   int64

In [3]:
pikle = pd.read_pickle(r'datasets\yelp\business.pkl')

In [63]:
pikle

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.39491,4.5,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pikle_limpio = pikle[['business_id', 'name', 'latitude', 'longitude', 'stars', 'categories']]

In [6]:
pikle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
 14  business_id   5 non-null       object
 15  name          5 non-null       object
 16  address       5 non-null       object
 17  city          5 non-null       object
 18  state         5 non-null       object
 19  postal_code   5 non-null       object
 20  latitude      5 non-null       float64
 21  longitude     5 non-null       float64
 22  stars         5 non-null       object
 23  review_count  5 non-null       object
 24  is_open       5 non-null       object
 25  attributes    5 non-null       object
 26  categories    5 non-null       object
 27  hours         5 non-null       object
dtypes: float64(4), object(24)
memory usage: 33.3+ MB

In [5]:
# Generar una lista de nombres de columna como nÃºmeros secuenciales
nombres_columnas_numericas = [str(i) for i in range(len(pikle_limpio.columns))]

# Asignar los nuevos nombres de columna al DataFrame
pikle_limpio.columns = nombres_columnas_numericas

In [6]:
pikle_limpio.drop(columns=['1','3','5','7','9','11'],inplace=True)

C:\Users\jonat\AppData\Local\Temp\ipykernel_7572\1760044411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pikle_limpio.drop(columns=['1','3','5','7','9','11'],inplace=True)

In [7]:
pikle_limpio.columns = ['business_id', 'name', 'latitude', 'longitude', 'stars', 'categories']

In [8]:
pikle_limpio.drop(columns=['name'],inplace=True)

C:\Users\jonat\AppData\Local\Temp\ipykernel_7572\1914495259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pikle_limpio.drop(columns=['name'],inplace=True)

In [9]:
pikle_limpio

,business_id,latitude,longitude,stars,categories
0,Pns2l4eNsfO8kk83dixA6A,34.426679,-119.711197,5.0,"Doctors, Traditional Chinese Medicine, Naturop..."
1,mpf3x-BjTdTEA3yCZrAYPw,38.551126,-90.335695,3.0,"Shipping Centers, Local Services, Notaries, Ma..."
2,tUFrWirKiKi_TAnsVWINQQ,32.223236,-110.880452,3.5,"Department Stores, Shopping, Fashion, Home & G..."
3,MTSW4McQd7CbVtyjqoe9mw,39.955505,-75.155564,4.0,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,40.338183,-75.471659,4.5,"Brewpubs, Breweries, Food"
...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,53.468419,-113.492054,3.0,"Nail Salons, Beauty & Spas"
150342,c8GjPIOTGVmIemT7j5_SyQ,36.115118,-86.766925,4.0,"Pets, Nurseries & Gardening, Pet Stores, Hobby..."
150343,_QAMST-NrQobXduilWEqSw,39.908707,-86.065088,3.5,"Shopping, Jewelry, Piercing, Toy Stores, Beaut..."
150344,mtGm22y5c2UHNXDFAjaPNw,38.782351,-89.950558,4.0,"Fitness/Exercise Equipment, Eyewear & Optician..."
150345,jV_XOycEzSlTx-65W906pg,27.771002,-82.39491,4.5,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo"

In [26]:
import shutil

# Guardar el DataFrame como un archivo CSV
pikle_limpio.to_csv('datasets/yelp/business.csv', index=False)

# Ruta del archivo CSV
archivo_csv = 'datasets/yelp/business.csv'

# Ruta de destino para el archivo comprimido gzip
archivo_gzip = 'datasets/yelp/business.csv.gz'

# Comprimir el archivo CSV a gzip
with open(archivo_csv, 'rb') as f_in, gzip.open(archivo_gzip, 'wb') as f_out:
    shutil.copyfileobj(f_in, f_out)

In [32]:
limites_estados = {
    'Alabama': {
        'lat_min': 30.144420,
        'lat_max': 35.008028,
        'lon_min': -88.473227,
        'lon_max': -84.888246
    },
    'Alaska': {
        'lat_min': 51.214183,
        'lat_max': 71.538800,
        'lon_min': -179.148909,
        'lon_max': -129.977672
    },
    'Arizona': {
        'lat_min': 31.332177,
        'lat_max': 37.004259,
        'lon_min': -114.818268,
        'lon_max': -109.045223
    },
    'Arkansas': {
        'lat_min': 33.004106,
        'lat_max': 36.499600,
        'lon_min': -94.617917,
        'lon_max': -89.640677
    },
    'California': {
        'lat_min': 32.512131,
        'lat_max': 42.009518,
        'lon_min': -124.482003,
        'lon_max': -114.131211
    },
    'Colorado': {
        'lat_min': 36.993076,
        'lat_max': 41.003444,
        'lon_min': -109.045223,
        'lon_max': -102.041522
    },
    'Connecticut': {
        'lat_min': 40.966667,
        'lat_max': 42.050587,
        'lon_min': -73.727775,
        'lon_max': -71.786994
    },
    'Delaware': {
        'lat_min': 38.451013,
        'lat_max': 39.839007,
        'lon_min': -75.789749,
        'lon_max': -75.048939
    },
    'Florida': {
        'lat_min': 24.396308,
        'lat_max': 31.000969,
        'lon_min': -87.634938,
        'lon_max': -80.031362
    },
    'Georgia': {
        'lat_min': 30.357851,
        'lat_max': 35.000659,
        'lon_min': -85.605166,
        'lon_max': -80.840718
    },
    'Hawaii': {
        'lat_min': 18.865459,
        'lat_max': 28.517061,
        'lon_min': -178.334698,
        'lon_max': -154.806773
    },
    'Idaho': {
        'lat_min': 41.988180,
        'lat_max': 49.001146,
        'lon_min': -117.243027,
        'lon_max': -111.043564
    },
    'Illinois': {
        'lat_min': 36.970298,
        'lat_max': 42.508481,
        'lon_min': -91.512974,
        'lon_max': -87.494756
    },
    'Indiana': {
        'lat_min': 37.771742,
        'lat_max': 41.761368,
        'lon_min': -88.097889,
        'lon_max': -84.784580
    },
    'Iowa': {
        'lat_min': 40.375501,
        'lat_max': 43.501196,
        'lon_min': -96.639485,
        'lon_max': -90.140061
    },
    'Kansas': {
        'lat_min': 36.993080,
        'lat_max': 40.003166,
        'lon_min': -102.051744,
        'lon_max': -94.588413
    },
    'Kentucky': {
        'lat_min': 36.497129,
        'lat_max': 39.147359,
        'lon_min': -89.571509,
        'lon_max': -81.964971
    },
    'Louisiana': {
        'lat_min': 28.855128,
        'lat_max': 33.019544,
        'lon_min': -94.043557,
        'lon_max': -88.758389
    },
    'Maine': {
        'lat_min': 42.974266,
        'lat_max': 47.459855,
        'lon_min': -71.083924,
        'lon_max': -66.925506
    },
    'Maryland': {
        'lat_min': 37.911717,
        'lat_max': 39.723043,
        'lon_min': -79.487651,
        'lon_max': -75.039673
    },
    'Massachusetts': {
        'lat_min': 41.185218,
        'lat_max': 42.886589,
        'lon_min': -73.508142,
        'lon_max': -69.858861
    },
    'Michigan': {
        'lat_min': 41.696118,
        'lat_max': 48.238920,
        'lon_min': -90.418136,
        'lon_max': -82.122002
    },
    'Minnesota': {
        'lat_min': 43.499356,
        'lat_max': 49.384358,
        'lon_min': -97.239209,
        'lon_max': -89.491739
    },
    'Mississippi': {
        'lat_min': 30.173943,
        'lat_max': 34.996052,
        'lon_min': -91.655009,
        'lon_max': -88.097889
    },
    'Missouri': {
        'lat_min': 35.995683,
        'lat_max': 40.613640,
        'lon_min': -95.774704,
        'lon_max': -89.098843
    },
    'Montana': {
        'lat_min': 44.358221,
        'lat_max': 49.001146,
        'lon_min': -116.049834,
        'lon_max': -104.039648
    },
    'Nebraska': {
        'lat_min': 39.999998,
        'lat_max': 43.001708,
        'lon_min': -104.053514,
        'lon_max': -95.30829
    },
    'Nevada': {
        'lat_min': 35.001857,
        'lat_max': 42.002207,
        'lon_min': -120.005746,
        'lon_max': -114.039648
    },
    'New Hampshire': {
        'lat_min': 42.697857,
        'lat_max': 45.305476,
        'lon_min': -72.557247,
        'lon_max': -70.703921
    },
    'New Jersey': {
        'lat_min': 38.788657,
        'lat_max': 41.357423,
        'lon_min': -75.559614,
        'lon_max': -73.885051
    },
    'New Mexico': {
        'lat_min': 31.332177,
        'lat_max': 37.000229,
        'lon_min': -109.050173,
        'lon_max': -103.002003
    },
    'New York': {
        'lat_min': 40.477399,
        'lat_max': 45.015851,
        'lon_min': -79.762590,
        'lon_max': -71.856214
    },
    'North Carolina': {
        'lat_min': 33.842316,
        'lat_max': 36.588117,
        'lon_min': -84.321869,
        'lon_max': -75.400119
    },
    'North Dakota': {
        'lat_min': 45.935054,
        'lat_max': 49.000574,
        'lon_min': -104.049269,
        'lon_max': -96.554507
    },
    'Ohio': {
        'lat_min': 38.403202,
        'lat_max': 42.327132,
        'lon_min': -84.820159,
        'lon_max': -80.518693
    },
    'Oklahoma': {
        'lat_min': 33.615833,
        'lat_max': 37.002206,
        'lon_min': -103.002003,
        'lon_max': -94.431648
    },
    'Oregon': {
        'lat_min': 41.991794,
        'lat_max': 46.292035,
        'lon_min': -124.566244,
        'lon_max': -116.463260
    },
    'Pennsylvania': {
        'lat_min': 39.719801,
        'lat_max': 42.269079,
        'lon_min': -80.519851,
        'lon_max': -74.689517
    },
    'Rhode Island': {
        'lat_min': 41.146339,
        'lat_max': 42.018798,
        'lon_min': -71.862772,
        'lon_max': -71.12057
    },
    'South Carolina': {
        'lat_min': 32.033304,
        'lat_max': 35.215402,
        'lon_min': -83.353912,
        'lon_max': -78.499301
    },
    'South Dakota': {
        'lat_min': 42.479635,
        'lat_max': 45.94545,
        'lon_min': -104.057698,
        'lon_max': -96.436589
    },
    'Tennessee': {
        'lat_min': 34.982924,
        'lat_max': 36.678118,
        'lon_min': -90.310298,
        'lon_max': -81.6469
    },
    'Texas': {
        'lat_min': 25.837377,
        'lat_max': 36.500704,
        'lon_min': -106.645646,
        'lon_max': -93.507212
    },
    'Utah': {
        'lat_min': 36.997968,
        'lat_max': 42.001702,
        'lon_min': -114.053029,
        'lon_max': -109.041058
    },
    'Vermont': {
        'lat_min': 42.726853,
        'lat_max': 45.016659,
        'lon_min': -73.43774,
        'lon_max': -71.465052
    },
    'Virginia': {
        'lat_min': 36.540738,
        'lat_max': 39.466012,
        'lon_min': -83.67529,
        'lon_max': -75.16644
    },
    'Washington': {
        'lat_min': 45.543541,
        'lat_max': 49.002494,
        'lon_min': -124.848974,
        'lon_max': -116.916485
    },
    'West Virginia': {
        'lat_min': 37.201483,
        'lat_max': 40.638801,
        'lon_min': -82.644739,
        'lon_max': -77.719519
    },
    'Wisconsin': {
        'lat_min': 42.491983,
        'lat_max': 47.080621,
        'lon_min': -92.888114,
        'lon_max': -86.249548
    },
    'Wyoming': {
        'lat_min': 40.994746,
        'lat_max': 45.005904,
        'lon_min': -111.05562,
        'lon_max': -104.05216
    },
    'District_of_Columbia': {
        'lat_min': 38.791645,
        'lat_max': 38.995845,
        'lon_min': -77.119759,
        'lon_max': -76.909395
    }}

In [33]:
# Convertir el diccionario en un DataFrame y agregar un Ã­ndice
df_limites_estados = pd.DataFrame.from_dict(limites_estados, orient='index').reset_index()

# Renombrar la columna 'index' como 'estado'
df_limites_estados = df_limites_estados.rename(columns={'index': 'estado'})

In [35]:
df_limites_estados.to_csv(r'estados.csv',index =False)

In [12]:
df_limites_estados

                  estado    lat_min    lat_max     lon_min     lon_max
0                Alabama  30.144420  35.008028  -88.473227  -84.888246
1                 Alaska  51.214183  71.538800 -179.148909 -129.977672
2                Arizona  31.332177  37.004259 -114.818268 -109.045223
3               Arkansas  33.004106  36.499600  -94.617917  -89.640677
4             California  32.512131  42.009518 -124.482003 -114.131211
5               Colorado  36.993076  41.003444 -109.045223 -102.041522
6            Connecticut  40.966667  42.050587  -73.727775  -71.786994
7               Delaware  38.451013  39.839007  -75.789749  -75.048939
8                Florida  24.396308  31.000969  -87.634938  -80.031362
9                Georgia  30.357851  35.000659  -85.605166  -80.840718
10                Hawaii  18.865459  28.517061 -178.334698 -154.806773
11                 Idaho  41.988180  49.001146 -117.243027 -111.043564
12              Illinois  36.970298  42.508481  -91.512974  -87.494756
13               Indiana  37.771742  41.761368  -88.097889  -84.784580
14                  Iowa  40.375501  43.501196  -96.639485  -90.140061
15                Kansas  36.993080  40.003166 -102.051744  -94.588413
16              Kentucky  36.497129  39.147359  -89.571509  -81.964971
17             Louisiana  28.855128  33.019544  -94.043557  -88.758389
18                 Maine  42.974266  47.459855  -71.083924  -66.925506
19              Maryland  37.911717  39.723043  -79.487651  -75.039673
20         Massachusetts  41.185218  42.886589  -73.508142  -69.858861
21              Michigan  41.696118  48.238920  -90.418136  -82.122002
22             Minnesota  43.499356  49.384358  -97.239209  -89.491739
23           Mississippi  30.173943  34.996052  -91.655009  -88.097889
24              Missouri  35.995683  40.613640  -95.774704  -89.098843
25               Montana  44.358221  49.001146 -116.049834 -104.039648
26              Nebraska  39.999998  43.001708 -104.053514  -95.308290
27                Nevada  35.001857  42.002207 -120.005746 -114.039648
28         New Hampshire  42.697857  45.305476  -72.557247  -70.703921
29            New Jersey  38.788657  41.357423  -75.559614  -73.885051
30            New Mexico  31.332177  37.000229 -109.050173 -103.002003
31              New York  40.477399  45.015851  -79.762590  -71.856214
32        North Carolina  33.842316  36.588117  -84.321869  -75.400119
33          North Dakota  45.935054  49.000574 -104.049269  -96.554507
34                  Ohio  38.403202  42.327132  -84.820159  -80.518693
35              Oklahoma  33.615833  37.002206 -103.002003  -94.431648
36                Oregon  41.991794  46.292035 -124.566244 -116.463260
37          Pennsylvania  39.719801  42.269079  -80.519851  -74.689517
38          Rhode Island  41.146339  42.018798  -71.862772  -71.120570
39        South Carolina  32.033304  35.215402  -83.353912  -78.499301
40          South Dakota  42.479635  45.945450 -104.057698  -96.436589
41             Tennessee  34.982924  36.678118  -90.310298  -81.646900
42                 Texas  25.837377  36.500704 -106.645646  -93.507212
43                  Utah  36.997968  42.001702 -114.053029 -109.041058
44               Vermont  42.726853  45.016659  -73.437740  -71.465052
45              Virginia  36.540738  39.466012  -83.675290  -75.166440
46            Washington  45.543541  49.002494 -124.848974 -116.916485
47         West Virginia  37.201483  40.638801  -82.644739  -77.719519
48             Wisconsin  42.491983  47.080621  -92.888114  -86.249548
49               Wyoming  40.994746  45.005904 -111.055620 -104.052160
50  District_of_Columbia  38.791645  38.995845  -77.119759  -76.909395

In [4]:
pikle['latitude'] = pikle['latitude'].astype(float)
pikle['longitude'] = pikle['longitude'].astype(float)

In [15]:
# Suponiendo que df_empresas es tu DataFrame con informaciÃ³n de empresas y df_limites_estados es el DataFrame con los lÃ­mites de los estados

# Definir la funciÃ³n verificar_limite_empresa para que funcione con el DataFrame de empresas
def verificar_limite_empresa(row, df_limites_estados):
    latitud = row['latitude']
    longitud = row['longitude']
    estado_perteneciente = None  # Inicializar el estado_perteneciente como None

    # Iterar sobre cada fila del DataFrame de lÃ­mites de estados
    for index, state_row in df_limites_estados.iterrows():
        lat_min, lat_max = state_row['lat_min'], state_row['lat_max']
        lon_min, lon_max = state_row['lon_min'], state_row['lon_max']

        # Verificar si las coordenadas estÃ¡n dentro de los lÃ­mites del estado actual
        dentro_de_limites = (lat_min <= latitud <= lat_max) and (lon_min <= longitud <= lon_max)
        
        # Si las coordenadas estÃ¡n dentro de los lÃ­mites, obtener el nombre del estado
        if dentro_de_limites:
            estado_perteneciente = state_row['estado']
            break  # Romper el bucle una vez que se encuentra el estado
    
    return estado_perteneciente

# Aplicar la funciÃ³n verificar_limite_empresa a cada fila del DataFrame de empresas
pikle_limpio['Estado_Perteneciente'] = pikle_limpio.apply(verificar_limite_empresa, df_limites_estados=df_limites_estados, axis=1)

                   business_id   latitude   longitude Estado_Perteneciente
0       Pns2l4eNsfO8kk83dixA6A  34.426679 -119.711197           California
1       mpf3x-BjTdTEA3yCZrAYPw  38.551126  -90.335695             Illinois
2       tUFrWirKiKi_TAnsVWINQQ  32.223236 -110.880452              Arizona
3       MTSW4McQd7CbVtyjqoe9mw  39.955505  -75.155564           New Jersey
4       mWMc6_wTdE0EUBKIGXDVfA  40.338183  -75.471659           New Jersey
...                        ...        ...         ...                  ...
150341  IUQopTMmYQG-qRtBk-8QnA  53.468419 -113.492054                 None
150342  c8GjPIOTGVmIemT7j5_SyQ  36.115118  -86.766925            Tennessee
150343  _QAMST-NrQobXduilWEqSw  39.908707  -86.065088              Indiana
150344  mtGm22y5c2UHNXDFAjaPNw  38.782351  -89.950558             Illinois
150345  jV_XOycEzSlTx-65W906pg  27.771002   -82.39491              Florida

[150346 rows x 4 columns]

C:\Users\jonat\AppData\Local\Temp\ipykernel_7572\2573212606.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pikle_limpio['Estado_Perteneciente'] = pikle_limpio.apply(verificar_limite_empresa, df_limites_estados=df_limites_estados, axis=1)

In [24]:
pikle_limpio.dropna(inplace=True)

C:\Users\jonat\AppData\Local\Temp\ipykernel_7572\2214757940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pikle_limpio.dropna(inplace=True)

In [27]:
pikle_limpio

,business_id,latitude,longitude,stars,categories,Estado_Perteneciente
0,Pns2l4eNsfO8kk83dixA6A,34.426679,-119.711197,5.0,"Doctors, Traditional Chinese Medicine, Naturop...",California
1,mpf3x-BjTdTEA3yCZrAYPw,38.551126,-90.335695,3.0,"Shipping Centers, Local Services, Notaries, Ma...",Illinois
2,tUFrWirKiKi_TAnsVWINQQ,32.223236,-110.880452,3.5,"Department Stores, Shopping, Fashion, Home & G...",Arizona
3,MTSW4McQd7CbVtyjqoe9mw,39.955505,-75.155564,4.0,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",New Jersey
4,mWMc6_wTdE0EUBKIGXDVfA,40.338183,-75.471659,4.5,"Brewpubs, Breweries, Food",New Jersey
...,...,...,...,...,...,...
150339,2O2K6SXPWv56amqxCECd4w,39.856185,-75.427725,4.5,"Restaurants, Comfort Food, Food, Food Trucks, ...",New Jersey
150342,c8GjPIOTGVmIemT7j5_SyQ,36.115118,-86.766925,4.0,"Pets, Nurseries & Gardening, Pet Stores, Hobby...",Tennessee
150343,_QAMST-NrQobXduilWEqSw,39.908707,-86.065088,3.5,"Shopping, Jewelry, Piercing, Toy Stores, Beaut...",Indiana
150344,mtGm22y5c2UHNXDFAjaPNw,38.782351,-89.950558,4.0,"Fitness/Exercise Equipment, Eyewear & Optician...",Illinois
150345,jV_XOycEzSlTx-65W906pg,27.771002,-82.39491,4.5,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo",Florida

In [4]:
pikle_prueba = pd.read_csv(r'datasets\yelp\business.csv.gz')