In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [7]:
all = pd.read_json(r'..\datasets\processed\google\bussiness_google.json.gz')

In [15]:
all.loc[all['gmap_id'] == '0x88095474186c0e81:0xda151bf32ec6a023']

Empty DataFrame
Columns: [gmap_id, latitude, longitude, category, stars, name, state]
Index: []

In [13]:
categorias = []
filtro_cat = []
restaurant_cat = []
for x in all['category']:
    alm = x.split("'")
    categorias.append(alm)
    
for x in categorias:
    for i in x:
        if len(i) > 3:
            filtro_cat.append(i)

for x in filtro_cat:
    if 'estau' in x:
        restaurant_cat.append(x)

restaurant_cat = set(restaurant_cat)

filtro = all['category'].str.contains('|'.join(restaurant_cat))

nuevo_df = all[filtro]

C:\Users\jonat\AppData\Local\Temp\ipykernel_12336\1153190916.py:19: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtro = all['category'].str.contains('|'.join(restaurant_cat))

In [16]:
nuevo_df

,gmap_id,latitude,longitude,category,stars,name,state
4,0x88db4147b1d9e6f3:0x943dbd10a92ba1b1,26.641377,-81.940545,['Restaurant'],5.0,Cape Seafood Shack,Florida
5,0x88c2e4e34f1ed783:0x76c5da381c499d79,27.867489,-82.702971,['Buffet restaurant'],5.0,Fresh Point Country Buffet,Florida
46,0x8890b9241e704667:0x3a1e565c17c00993,30.391411,-87.267220,['Restaurant'],4.2,Hot Box,Florida
81,0x88e635378f43352f:0xa1b53c63436fa428,29.183272,-81.889965,['Gas station' 'ATM' 'Convenience store' 'Rest...,1.8,Shell,Florida
156,0x88d9ab98b5baad79:0x1a2e3f0642a55246,26.010250,-80.148659,['Mexican restaurant'],3.0,Baby Food Grill & Bar,Florida
...,...,...,...,...,...,...,...
693466,0x89c3b2b8e9c8c357:0xb1b07826ef85a598,40.653743,-74.234148,['Bar' 'Italian restaurant' 'Pub' 'Restaurant'],4.3,Park View Tavern,New Jersey
693471,0x89c24d60acc3ffff:0xc8048546518281f6,40.661250,-74.193971,['Restaurant' 'Family restaurant'],4.6,The Brown Derby Cafe & Rental Hall,New Jersey
693475,0x89c24d7a198a3541:0x3dcb8f429c053248,40.654865,-74.177221,['American restaurant'],4.5,George's Lunch,New Jersey
693478,0x89c3b290dcc12d6d:0x34ad59938efed577,40.661939,-74.248363,['Latin American restaurant' 'Mexican restaura...,3.9,Las Brasas Sports Bar and Restaurant,New Jersey
693485,0x89c17b3b65b4680d:0x40a43d960a97a0,40.109785,-74.387818,['Pizza restaurant' 'Italian restaurant' 'Pizz...,4.5,Jackson Pizza,New Jersey

In [18]:
import pandas as pd

# Tu DataFrame original
data = {
    'business_id': ['qkRM_2X51Yqxk3btlwAQIg', 'UJsufbvfyfONHeWdvAHKjA', 'eEOYSgkmpB90uNA7lDOMRA', 'jaxMSoInw8Poo3XeMJt8lQ', '0bPLkL0QhhPO5kt1_EXmNQ'],
    'name': ['Temple Beth-El', 'Marshalls', 'Vietnamese Food Truck', 'Adams Dental', "Zio's Italian Market"],
    'latitude': [27.76659, 28.190459, 27.955269, 27.966235, 27.916116],
    'longitude': [-82.732983, -82.45738, -82.45632, -82.787412, -82.760461],
    'stars': [3.5, 3.5, 4.0, 5.0, 4.5],
    'categories': ['Synagogues, Religious Organizations', 'Department Stores, Shopping, Fashion', 'Vietnamese, Food, Restaurants, Food Trucks', 'General Dentistry, Dentists, Health & Medical', 'Food, Delis, Italian, Bakeries, Restaurants'],
    'Estado_Perteneciente': ['Florida', 'Florida', 'Florida', 'Florida', 'Florida']
}

empresas_concatenadas = pd.DataFrame(data)

categorias = []
filtro_cat = []
restaurant_cat = []

for x in empresas_concatenadas['categories']:
    alm = x.split(",")
    categorias.extend(alm)

for i in categorias:
    if len(i.strip()) > 3:
        filtro_cat.append(i.strip())

for x in filtro_cat:
    if 'estau' in x.lower():  # Convertimos a minÃºsculas para hacer la bÃºsqueda insensible a mayÃºsculas/minÃºsculas
        restaurant_cat.append(x)

restaurant_cat = set(restaurant_cat)

filtro = empresas_concatenadas['categories'].str.contains('|'.join(restaurant_cat))

empresas_concatenadas_restaurantes_estados_yelp = empresas_concatenadas[filtro]

empresas_concatenadas_restaurantes_estados_yelp

,business_id,name,latitude,longitude,stars,categories,Estado_Perteneciente
2,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,27.955269,-82.456320,4.0,"Vietnamese, Food, Restaurants, Food Trucks",Florida
4,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,27.916116,-82.760461,4.5,"Food, Delis, Italian, Bakeries, Restaurants",Florida

In [24]:
empresas_concatenadas = pd.read_json(r'..\datasets\processed\yelp\bussiness_yelp.json.gz')

In [25]:
empresas_concatenadas

,business_id,name,latitude,longitude,stars,categories,Estado_Perteneciente
0,qkRM_2X51Yqxk3btlwAQIg,Temple Beth-El,27.766590,-82.732983,3.5,"Synagogues, Religious Organizations",Florida
1,UJsufbvfyfONHeWdvAHKjA,Marshalls,28.190459,-82.457380,3.5,"Department Stores, Shopping, Fashion",Florida
2,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,27.955269,-82.456320,4.0,"Vietnamese, Food, Restaurants, Food Trucks",Florida
3,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,27.966235,-82.787412,5.0,"General Dentistry, Dentists, Health & Medical,...",Florida
4,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,27.916116,-82.760461,4.5,"Food, Delis, Italian, Bakeries, Restaurants",Florida
...,...,...,...,...,...,...,...
41323,paqoi156XSa8BaIR70gR8g,Franklinville Family & Cosmetic Dentistry,39.606158,-75.070777,1.5,"Teeth Whitening, Endodontists, Beauty & Spas, ...",New Jersey
41324,lglUHT1ByJh_frd1kLKhyQ,Hollywood Nails,39.956757,-75.068777,3.0,"Nail Salons, Beauty & Spas",New Jersey
41325,-a7VXX0-V9LgWMFrq90iNA,Delran Auto Body,40.021346,-74.932089,3.5,"Body Shops, Automotive",New Jersey
41326,_h9b34onQc_26F9mvmsNhw,J&M Gutter Pros,39.851945,-74.961517,5.0,"Home Services, Pressure Washers, Gutter Servic...",New Jersey
41327,x_2IrYgFiQn7GOTTgWRbAw,The Vac & Sew Center,39.857700,-74.987230,4.0,"Appliances & Repair, Home & Garden, Appliances...",New Jersey

In [36]:
empresas_concatenadas.drop_duplicates(inplace=True)

In [37]:
categorias = []

restaurant_cat = []

for x in empresas_concatenadas['categories']:
    categorias.append(x.split())

for x in categorias:
    if 'estau' in x.lower():  # Convertimos a minÃºsculas para hacer la bÃºsqueda insensible a mayÃºsculas/minÃºsculas
        restaurant_cat.append(x)

restaurant_cat = set(restaurant_cat)

filtro = empresas_concatenadas['categories'].str.contains('|'.join(restaurant_cat))

empresas_concatenadas_restaurantes_estados_yelp = empresas_concatenadas[filtro]

empresas_concatenadas_restaurantes_estados_yelp

AttributeError: 'NoneType' object has no attribute 'split'

In [34]:
categorias = []
filtro_cat = []
restaurant_cat = []

for x in empresas_concatenadas['categories']:
    categorias.append(x.split())

AttributeError: 'NoneType' object has no attribute 'split'

In [35]:
empresas_concatenadas.isna().sum()

business_id              0
name                     0
latitude                 0
longitude                0
stars                    0
categories              33
Estado_Perteneciente     0
dtype: int64